@import url(default.css);
@import url(fonts.css);
@import url(common.css);


.skip_nav {
    z-index: 1000; /* 맨 위 */
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.skip_nav a {
    display: block;
    background-color: aqua;
    text-align: center;
    padding: 10px 0;
    color: #1d1d1d;
    position: absolute;
    left: 0;
    top: -1000px;
    width: 100%;
}

.skip_nav a:focus {
    top: 0;
}

header {
    z-index: 100;
    position: fixed; /* fixed 특징 : 별도의 설정이 없어도 body를 기준으로 정렬 */
    left: 0;
    top: 0;
    width: 100%;
    height: 90px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    color: #fff;
    display: flex; /* logo, gnb, util를 좌우로 배치 */
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

header .logo a {
    display: block;
    width: 204px;
    height: 43px;
    background: url(../images/logo_w.svg) no-repeat center center / contain;
}

/****** header에 fixed 클래스가 추가되었을 때 ******/

header.fixed {
    background-color: #fff;
    color: #1d1d1d;
}

header.fixed .logo a {
    background-image: url(../images/logo.svg);
}

@media screen and (min-width: 1025px){ /* 1025px - pc버전에만 적용*/

        header .gnb .gnb_open,
        header .gnb .gnb_close {
            display: none;
        }

        header .gnb .gnb_wrap ul.depth1 {
            display: flex;
        }

        header .gnb .gnb_wrap ul.depth1 > li > a {
            display: block;
            line-height: 90px; /* header 높이만큼 */
            font-size: 22px;
            font-weight: 700;
            padding: 0 26px;
        }

        header .gnb .gnb_wrap ul.depth1 > li:has(ul.depth2) > a > span {
            /* li 하위에 depth2 가 있는 a에게만 적용 */
            display: inline-block;
            padding-right: 17px;
            position: relative; /* after 정렬의 기준 */
        }

        header .gnb .gnb_wrap ul.depth1 > li:has(ul.depth2) > a > span::after {
            content: "";
            position: absolute;
            right: -10px;
            top: 33px;
            width: 24px;
            height: 24px;
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_25_1228' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_25_1228)'%3E%3Cpath d='M11.9998 14.6765C11.8793 14.6765 11.7671 14.6573 11.6633 14.6188C11.5594 14.5803 11.4607 14.5143 11.367 14.4208L6.87276 9.92652C6.73442 9.78802 6.66359 9.61394 6.66026 9.40427C6.65709 9.19477 6.72792 9.01752 6.87276 8.87252C7.01776 8.72769 7.19342 8.65527 7.39976 8.65527C7.60609 8.65527 7.78176 8.72769 7.92676 8.87252L11.9998 12.9458L16.0728 8.87252C16.2113 8.73419 16.3853 8.66336 16.595 8.66002C16.8045 8.65686 16.9818 8.72769 17.1268 8.87252C17.2716 9.01752 17.344 9.19319 17.344 9.39952C17.344 9.60586 17.2716 9.78152 17.1268 9.92652L12.6325 14.4208C12.5388 14.5143 12.4401 14.5803 12.3363 14.6188C12.2324 14.6573 12.1203 14.6765 11.9998 14.6765Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
            background-position: center center;
            background-repeat: no-repeat;
        }

        header .gnb .gnb_wrap ul.depth1 > li {
            position: relative; /* over 기준의 정렬 */
        }

        header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
            display: none; /* 숨김*/
            position: absolute;
            left: 50%;
            transform: translateX(-50%); /* ul 길이 절반을 왼쪽으로 이동 */
            top: 76px;
            background-color: #FD7119;
            color: #fff;
            padding: 0 37px 0 34px;
            border-radius: 50px;
        }

        header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
            display: block;
            white-space: nowrap; /* 줄바꿈 금지 */
            padding: 18px 25px;
            
        }

        header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a[target="_blank"] > span {
            /* 속성선택자 <a target="_blank"> 라는 속성이 a태그만 선택함 */
            display: block;
            padding-right: 17px;
            position: relative; /* atter 정렬의 기준 */
        }

        header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a[target="_blank"] > span::before {
            content: "";
            position: absolute;
            right: -3px;
            top: 0;
            width: 17px;
            height: 17px;
            background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_25_1659' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='17' height='17'%3E%3Crect width='17' height='17' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_25_1659)'%3E%3Cpath d='M3.75998 14.5212C3.40216 14.5212 3.09928 14.3972 2.85137 14.1493C2.60345 13.9014 2.47949 13.5985 2.47949 13.2407V3.75998C2.47949 3.40216 2.60345 3.09928 2.85137 2.85137C3.09928 2.60345 3.40216 2.47949 3.75998 2.47949H8.22779V3.54199H3.75998C3.70544 3.54199 3.6555 3.56472 3.61017 3.61017C3.56472 3.6555 3.54199 3.70544 3.54199 3.75998V13.2407C3.54199 13.2952 3.56472 13.3451 3.61017 13.3905C3.6555 13.4359 3.70544 13.4587 3.75998 13.4587H13.2407C13.2952 13.4587 13.3451 13.4359 13.3905 13.3905C13.4359 13.3451 13.4587 13.2952 13.4587 13.2407V8.77286H14.5212V13.2407C14.5212 13.5985 14.3972 13.9014 14.1493 14.1493C13.9014 14.3972 13.5985 14.5212 13.2407 14.5212H3.75998ZM6.88479 10.8623L6.13839 10.1159L12.7123 3.54199H9.91699V2.47949H14.5212V7.08366H13.4587V4.2884L6.88479 10.8623Z' fill='white' fill-opacity='0.8'/%3E%3C/g%3E%3C/svg%3E%0A");
            background-position: center center;
            background-repeat: no-repeat;
        }

        header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a > span {
            position: relative;
        }

        header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:hover > span::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -4px;
            width: 100%;
            height: 1px;
            background-color: #fff;
        }

        header .util .search .search_open {
            display: block;
            width: 60px;
            height: 60px;
            background-image: url("data:image/svg+xml,%3Csvg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_25_1221' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='34' height='34'%3E%3Crect width='34' height='34' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_25_1221)'%3E%3Cpath d='M13.4855 22.1215C11.0663 22.1215 9.01761 21.2824 7.33933 19.6044C5.66129 17.9261 4.82227 15.8774 4.82227 13.4582C4.82227 11.039 5.66129 8.99026 7.33933 7.31198C9.01761 5.63394 11.0663 4.79492 13.4855 4.79492C15.9047 4.79492 17.9535 5.63394 19.6317 7.31198C21.3098 8.99026 22.1488 11.039 22.1488 13.4582C22.1488 14.4699 21.979 15.4362 21.6395 16.357C21.2998 17.2779 20.8465 18.0788 20.2799 18.7597L28.4314 26.9112C28.6276 27.1072 28.7279 27.3537 28.7324 27.6507C28.7369 27.9477 28.6366 28.1988 28.4314 28.404C28.2262 28.6092 27.9773 28.7118 27.6848 28.7118C27.3925 28.7118 27.1437 28.6092 26.9386 28.404L18.7871 20.2525C18.0787 20.8374 17.2641 21.2951 16.3433 21.6256C15.4225 21.9562 14.4699 22.1215 13.4855 22.1215ZM13.4855 19.9968C15.3109 19.9968 16.857 19.3633 18.1237 18.0964C19.3907 16.8296 20.0242 15.2836 20.0242 13.4582C20.0242 11.6328 19.3907 10.0868 18.1237 8.82002C16.857 7.55305 15.3109 6.91957 13.4855 6.91957C11.6602 6.91957 10.1141 7.55305 8.84737 8.82002C7.5804 10.0868 6.94691 11.6328 6.94691 13.4582C6.94691 15.2836 7.5804 16.8296 8.84737 18.0964C10.1141 19.3633 11.6602 19.9968 13.4855 19.9968Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
            background-position: center center;
            background-repeat: no-repeat;
        }


        /****** header에 fixed 클래스가 추가되었을 때 ******/

        header.fixed .gnb .gnb_wrap ul.depth1 > li:has(ul.depth2) > a > span::after {
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_25_1433' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_25_1433)'%3E%3Cpath d='M11.9998 14.6765C11.8793 14.6765 11.7671 14.6573 11.6633 14.6188C11.5594 14.5803 11.4607 14.5143 11.367 14.4208L6.87276 9.92652C6.73442 9.78802 6.66359 9.61394 6.66026 9.40427C6.65709 9.19477 6.72792 9.01752 6.87276 8.87252C7.01776 8.72769 7.19342 8.65527 7.39976 8.65527C7.60609 8.65527 7.78176 8.72769 7.92676 8.87252L11.9998 12.9458L16.0728 8.87252C16.2113 8.73419 16.3853 8.66336 16.595 8.66002C16.8045 8.65686 16.9818 8.72769 17.1268 8.87252C17.2716 9.01752 17.344 9.19319 17.344 9.39952C17.344 9.60586 17.2716 9.78152 17.1268 9.92652L12.6325 14.4208C12.5388 14.5143 12.4401 14.5803 12.3363 14.6188C12.2324 14.6573 12.1203 14.6765 11.9998 14.6765Z' fill='%231D1D1D'/%3E%3C/g%3E%3C/svg%3E%0A");
        }

        header.fixed .util .search .search_open {
            background-image: url("data:image/svg+xml,%3Csvg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_25_1429' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='34' height='34'%3E%3Crect width='34' height='34' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_25_1429)'%3E%3Cpath d='M13.4855 22.1215C11.0663 22.1215 9.01761 21.2824 7.33933 19.6044C5.66129 17.9261 4.82227 15.8774 4.82227 13.4582C4.82227 11.039 5.66129 8.99026 7.33933 7.31198C9.01761 5.63394 11.0663 4.79492 13.4855 4.79492C15.9047 4.79492 17.9535 5.63394 19.6317 7.31198C21.3098 8.99026 22.1488 11.039 22.1488 13.4582C22.1488 14.4699 21.979 15.4362 21.6395 16.357C21.2998 17.2779 20.8465 18.0788 20.2799 18.7597L28.4314 26.9112C28.6276 27.1072 28.7279 27.3537 28.7324 27.6507C28.7369 27.9477 28.6366 28.1988 28.4314 28.404C28.2262 28.6092 27.9773 28.7118 27.6848 28.7118C27.3925 28.7118 27.1437 28.6092 26.9386 28.404L18.7871 20.2525C18.0787 20.8374 17.2641 21.2951 16.3433 21.6256C15.4225 21.9562 14.4699 22.1215 13.4855 22.1215ZM13.4855 19.9968C15.3109 19.9968 16.857 19.3633 18.1237 18.0964C19.3907 16.8296 20.0242 15.2836 20.0242 13.4582C20.0242 11.6328 19.3907 10.0868 18.1237 8.82002C16.857 7.55305 15.3109 6.91957 13.4855 6.91957C11.6602 6.91957 10.1141 7.55305 8.84737 8.82002C7.5804 10.0868 6.94691 11.6328 6.94691 13.4582C6.94691 15.2836 7.5804 16.8296 8.84737 18.0964C10.1141 19.3633 11.6602 19.9968 13.4855 19.9968Z' fill='%231D1D1D'/%3E%3C/g%3E%3C/svg%3E%0A");
        }


        /********* 메뉴에 마우스를 오버했을 때**********/

        header .gnb .gnb_wrap ul.depth1 > li.over > a {
            color: #FD7119;
        }

        header .gnb .gnb_wrap ul.depth1 > li.over:has(ul.depth2) > a > span::after {
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_25_1436' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect x='24' y='24' width='24' height='24' transform='rotate(-180 24 24)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_25_1436)'%3E%3Cpath d='M12.0002 9.32348C12.1207 9.32348 12.2329 9.34273 12.3367 9.38123C12.4406 9.41973 12.5393 9.48573 12.633 9.57923L17.1272 14.0735C17.2656 14.212 17.3364 14.3861 17.3397 14.5957C17.3429 14.8052 17.2721 14.9825 17.1272 15.1275C16.9822 15.2723 16.8066 15.3447 16.6002 15.3447C16.3939 15.3447 16.2182 15.2723 16.0732 15.1275L12.0002 11.0542L7.92724 15.1275C7.78874 15.2658 7.61466 15.3366 7.40499 15.34C7.19549 15.3431 7.01824 15.2723 6.87324 15.1275C6.72841 14.9825 6.65599 14.8068 6.65599 14.6005C6.65599 14.3941 6.72841 14.2185 6.87324 14.0735L11.3675 9.57923C11.4612 9.48573 11.5599 9.41973 11.6637 9.38123C11.7676 9.34273 11.8797 9.32348 12.0002 9.32348Z' fill='%23FD7119'/%3E%3C/g%3E%3C/svg%3E%0A");
        }

        header .gnb .gnb_wrap ul.depth1 > li.over > ul.depth2 {
            display: flex;
        }

} /* @media PC = 1025 */

@media screen and (min-width: 1025px) and (max-width: 1280px){ /* 1280~1025까지만 적용 */

    header .logo a {
        width: 182px;
        height: 38px;
    }

    header .gnb .gnb_wrap ul.depth1 > li > a  {
        font-size: 20px;
        padding: 0 20px;
    }

    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        padding: 0px 20px 0 20px;
    }

    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
        padding: 18px 15px;
    }
    
} /* @media PC = 1025 - 1280 */


@media screen and (max-width: 1024px){ /* 모바일 1024 이하~ */

        header {
            height: 56px;
            border-bottom: none;
            padding: 0 0 0 20px;
        }
        
        header .logo a {
            width: 135px;
            height: 28px;
        }

        header .gnb .gnb_open {
            display: block;
            width: 56px;
            height: 56px;
            background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_25_1941' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='30' height='30'%3E%3Crect width='30' height='30' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_25_1941)'%3E%3Cpath d='M5.3125 8.75C5.04688 8.75 4.82427 8.6601 4.64469 8.48031C4.4649 8.30052 4.375 8.07781 4.375 7.81219C4.375 7.54635 4.4649 7.32375 4.64469 7.14437C4.82427 6.96479 5.04688 6.875 5.3125 6.875H24.6875C24.9531 6.875 25.1757 6.9649 25.3553 7.14469C25.5351 7.32448 25.625 7.54719 25.625 7.81281C25.625 8.07865 25.5351 8.30125 25.3553 8.48063C25.1757 8.66021 24.9531 8.75 24.6875 8.75H5.3125ZM5.3125 23.125C5.04688 23.125 4.82427 23.0351 4.64469 22.8553C4.4649 22.6755 4.375 22.4528 4.375 22.1872C4.375 21.9214 4.4649 21.6987 4.64469 21.5194C4.82427 21.3398 5.04688 21.25 5.3125 21.25H24.6875C24.9531 21.25 25.1757 21.3399 25.3553 21.5197C25.5351 21.6995 25.625 21.9222 25.625 22.1878C25.625 22.4536 25.5351 22.6763 25.3553 22.8556C25.1757 23.0352 24.9531 23.125 24.6875 23.125H5.3125ZM5.3125 15.9375C5.04688 15.9375 4.82427 15.8476 4.64469 15.6678C4.4649 15.488 4.375 15.2653 4.375 14.9997C4.375 14.7339 4.4649 14.5113 4.64469 14.3319C4.82427 14.1523 5.04688 14.0625 5.3125 14.0625H24.6875C24.9531 14.0625 25.1757 14.1524 25.3553 14.3322C25.5351 14.512 25.625 14.7347 25.625 15.0003C25.625 15.2661 25.5351 15.4888 25.3553 15.6681C25.1757 15.8477 24.9531 15.9375 24.6875 15.9375H5.3125Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
            background-repeat: no-repeat;
            background-position: center center;
        }

        header.fixed .gnb .gnb_open {
            background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_63_13' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='30' height='30'%3E%3Crect width='30' height='30' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_63_13)'%3E%3Cpath d='M5.3125 8.75C5.04687 8.75 4.82427 8.6601 4.64469 8.48031C4.4649 8.30052 4.375 8.07781 4.375 7.81219C4.375 7.54635 4.4649 7.32375 4.64469 7.14437C4.82427 6.96479 5.04687 6.875 5.3125 6.875H24.6875C24.9531 6.875 25.1757 6.9649 25.3553 7.14469C25.5351 7.32448 25.625 7.54719 25.625 7.81281C25.625 8.07865 25.5351 8.30125 25.3553 8.48063C25.1757 8.66021 24.9531 8.75 24.6875 8.75H5.3125ZM5.3125 23.125C5.04687 23.125 4.82427 23.0351 4.64469 22.8553C4.4649 22.6755 4.375 22.4528 4.375 22.1872C4.375 21.9214 4.4649 21.6987 4.64469 21.5194C4.82427 21.3398 5.04687 21.25 5.3125 21.25H24.6875C24.9531 21.25 25.1757 21.3399 25.3553 21.5197C25.5351 21.6995 25.625 21.9222 25.625 22.1878C25.625 22.4536 25.5351 22.6763 25.3553 22.8556C25.1757 23.0352 24.9531 23.125 24.6875 23.125H5.3125ZM5.3125 15.9375C5.04687 15.9375 4.82427 15.8476 4.64469 15.6678C4.4649 15.488 4.375 15.2653 4.375 14.9997C4.375 14.7339 4.4649 14.5112 4.64469 14.3319C4.82427 14.1523 5.04687 14.0625 5.3125 14.0625H24.6875C24.9531 14.0625 25.1757 14.1524 25.3553 14.3322C25.5351 14.512 25.625 14.7347 25.625 15.0003C25.625 15.2661 25.5351 15.4888 25.3553 15.6681C25.1757 15.8477 24.9531 15.9375 24.6875 15.9375H5.3125Z' fill='%231C1B1F'/%3E%3C/g%3E%3C/svg%3E%0A");
        }
        
        header .gnb .gnb_wrap {
            display: none;
            position: fixed; /* body를 기준으로 정렬 */
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: #fff;
            color: #1d1d1d;
        }

        header .gnb .gnb_wrap ul.depth1 {
            margin: 50px 20px 0 20px;
            height: calc(100% - 56px);
            overflow-y: auto; /* y축 스크롤바 생성*/
        }

        header .gnb .gnb_wrap ul.depth1 > li {
            border-bottom: 1px solid #E6E6E6;
        }

        header .gnb .gnb_wrap ul.depth1 > li:first-child {
            border-top: 1px solid #E6E6E6;
        }

        header .gnb .gnb_wrap ul.depth1 > li > a {
            display: block;
            font-size: 20px;
            padding: 19px 0;
            position: relative; /* after 정렬의 기준*/
        }

        header .gnb .gnb_wrap ul.depth1 > li:has(ul.depth2) > a::after {
            content: "";
            position: absolute;
            right: 0;
            width: 28px;
            height: 28px;
            background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_25_2190' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='28' height='28'%3E%3Crect width='28' height='28' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_25_2190)'%3E%3Cpath d='M14 17.1224C13.8595 17.1224 13.7286 17.1 13.6075 17.0551C13.4863 17.0102 13.3711 16.9332 13.2618 16.8241L8.01854 11.5808C7.85715 11.4192 7.77452 11.2161 7.77063 10.9715C7.76693 10.7271 7.84957 10.5203 8.01854 10.3511C8.18771 10.1821 8.39265 10.0977 8.63338 10.0977C8.8741 10.0977 9.07904 10.1821 9.24821 10.3511L14 15.1032L18.7519 10.3511C18.9135 10.1897 19.1166 10.1071 19.3612 10.1032C19.6056 10.0995 19.8124 10.1821 19.9815 10.3511C20.1505 10.5203 20.235 10.7252 20.235 10.9659C20.235 11.2067 20.1505 11.4116 19.9815 11.5808L14.7383 16.8241C14.629 16.9332 14.5138 17.0102 14.3926 17.0551C14.2715 17.1 14.1406 17.1224 14 17.1224Z' fill='%231D1D1D'/%3E%3C/g%3E%3C/svg%3E%0A");
            background-position: center center;
            background-repeat: no-repeat;
        }

        header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
            background-color: #E8E7F2;
            padding: 10px 0 10px 40px;
            display: none;
        }

        header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
            display: block;
            padding: 8px 0;
        }

        header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a[target="_blank"] > span {
            display: inline-block;
            position: relative; /* after 정렬의 기준*/
            padding-right: 20px;
        }

        header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a[target="_blank"] > span::after {
            content: "";
            position: absolute;
            right: -3px;
            top: 0;
            width: 20px;
            height: 20px;
            background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_64_20' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='20'%3E%3Crect width='20' height='20' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_64_20)'%3E%3Cpath d='M4.42345 17.0837C4.00248 17.0837 3.64616 16.9378 3.35449 16.6462C3.06283 16.3545 2.91699 15.9982 2.91699 15.5772V4.42345C2.91699 4.00248 3.06283 3.64616 3.35449 3.35449C3.64616 3.06283 4.00248 2.91699 4.42345 2.91699H9.6797V4.16699H4.42345C4.35928 4.16699 4.30053 4.19373 4.2472 4.2472C4.19373 4.30053 4.16699 4.35928 4.16699 4.42345V15.5772C4.16699 15.6414 4.19373 15.7001 4.2472 15.7535C4.30053 15.8069 4.35928 15.8337 4.42345 15.8337H15.5772C15.6414 15.8337 15.7001 15.8069 15.7535 15.7535C15.8069 15.7001 15.8337 15.6414 15.8337 15.5772V10.321H17.0837V15.5772C17.0837 15.9982 16.9378 16.3545 16.6462 16.6462C16.3545 16.9378 15.9982 17.0837 15.5772 17.0837H4.42345ZM8.0997 12.7791L7.22158 11.901L14.9555 4.16699H11.667V2.91699H17.0837V8.33366H15.8337V5.04512L8.0997 12.7791Z' fill='%231D1D1D' fill-opacity='0.8'/%3E%3C/g%3E%3C/svg%3E%0A");    
            background-position: center center;
            background-repeat: no-repeat;
        }

        header .gnb .gnb_close {
            display: none;
            position: fixed;
            right: -3px;
            top: 0;
            width: 56px;
            height: 56px;
            background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_25_2186' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='30' height='30'%3E%3Crect width='30' height='30' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_25_2186)'%3E%3Cpath d='M14.9996 16.3168L8.6584 22.6584C8.48527 22.8313 8.26767 22.9199 8.00559 22.924C7.74371 22.928 7.52215 22.8394 7.3409 22.6584C7.15986 22.4771 7.06934 22.2576 7.06934 21.9997C7.06934 21.7417 7.15986 21.5221 7.3409 21.3409L13.6825 14.9996L7.3409 8.6584C7.16798 8.48527 7.07944 8.26767 7.07527 8.00559C7.07132 7.74371 7.15986 7.52215 7.3409 7.3409C7.52215 7.15986 7.74173 7.06934 7.99965 7.06934C8.25757 7.06934 8.47715 7.15986 8.6584 7.3409L14.9996 13.6825L21.3409 7.3409C21.514 7.16798 21.7316 7.07944 21.9937 7.07527C22.2556 7.07132 22.4771 7.15986 22.6584 7.3409C22.8394 7.52215 22.93 7.74173 22.93 7.99965C22.93 8.25757 22.8394 8.47715 22.6584 8.6584L16.3168 14.9996L22.6584 21.3409C22.8313 21.514 22.9199 21.7316 22.924 21.9937C22.928 22.2556 22.8394 22.4771 22.6584 22.6584C22.4771 22.8394 22.2576 22.93 21.9997 22.93C21.7417 22.93 21.5221 22.8394 21.3409 22.6584L14.9996 16.3168Z' fill='%231C1B1F'/%3E%3C/g%3E%3C/svg%3E%0A");
            background-position: center center;
            background-repeat: no-repeat;
        }

        header .util {
            display: none;
        }


        /********** 메뉴가 열렸을 때 *************/

        header.menu_open .gnb .gnb_wrap {
            display: block;
        }
        
        header.menu_open .gnb .gnb_close {
            display: block;
        }


        /*********** 하위 메뉴가 열렸을 때 *************/
        
        header .gnb .gnb_wrap ul.depth1 > li.open > a {
            color: #FD7119;
        }

        header .gnb .gnb_wrap ul.depth1 > li.open:has(ul.depth2) > a::after {
            background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_25_2199' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='28' height='28'%3E%3Crect x='28' y='28' width='28' height='28' transform='rotate(-180 28 28)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_25_2199)'%3E%3Cpath d='M14 10.8776C14.1405 10.8776 14.2714 10.9 14.3925 10.9449C14.5137 10.9898 14.6289 11.0668 14.7382 11.1759L19.9815 16.4192C20.1428 16.5808 20.2255 16.7839 20.2294 17.0285C20.2331 17.2729 20.1504 17.4797 19.9815 17.6489C19.8123 17.8179 19.6073 17.9023 19.3666 17.9023C19.1259 17.9023 18.921 17.8179 18.7518 17.6489L14 12.8968L9.24812 17.6489C9.08654 17.8103 8.88344 17.8929 8.63883 17.8968C8.39442 17.9005 8.18762 17.8179 8.01846 17.6489C7.84948 17.4797 7.765 17.2748 7.765 17.0341C7.765 16.7933 7.84948 16.5884 8.01846 16.4192L13.2617 11.1759C13.371 11.0668 13.4862 10.9898 13.6074 10.9449C13.7285 10.9 13.8594 10.8776 14 10.8776Z' fill='%23FD7119'/%3E%3C/g%3E%3C/svg%3E%0A");   
        }

        header .gnb .gnb_wrap ul.depth1 > li.open > ul.depth2 {
            display: block;
        }


} /* @media 1024px 이하 */


.visual .swiper-slide {
    color: #fff;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.visual .swiper-slide.bg1 {
    background: url(../images/visual_01.jpg);
}

.visual .swiper-slide.bg2 {
    background: url(../images/visual_02.jpg);
}

.visual .swiper-slide.bg3 {
    background: url(../images/visual_03.jpg);
}

.visual .swiper-slide h3 {
    font-size: 60px;
    font-weight: 700;
    line-height: 1.2;
}

.visual .swiper-slide .wrapper {
    height: 850px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.visual .swiper-slide p {
    font-size: 20px;
    margin: 28px 0 224px 0;
}

.visual .btn_wrap {
    z-index: 10;
    position: absolute; /* swiper 기준으로 정렬 */
    left: 0;
    bottom: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.visual .btn_wrap button {
    width: 20px;
    height: 20px;
    border: 1px solid #fff;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
}

.visual .btn_wrap button.btn_prev {
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_25_1240' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='12' height='12'%3E%3Crect x='12' width='12' height='12' transform='rotate(90 12 0)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_25_1240)'%3E%3Cpath d='M2.32348 5.99976C2.32348 5.87926 2.34273 5.76709 2.38123 5.66326C2.41973 5.55942 2.48573 5.46067 2.57923 5.36701L7.07348 0.872758C7.21198 0.734425 7.38606 0.663591 7.59573 0.660258C7.80523 0.657091 7.98248 0.727925 8.12748 0.872758C8.27231 1.01776 8.34473 1.19342 8.34473 1.39976C8.34473 1.60609 8.27231 1.78176 8.12748 1.92676L4.05423 5.99976L8.12748 10.0728C8.26581 10.2113 8.33664 10.3853 8.33998 10.595C8.34314 10.8045 8.27231 10.9818 8.12748 11.1268C7.98248 11.2716 7.80681 11.344 7.60048 11.344C7.39414 11.344 7.21848 11.2716 7.07348 11.1268L2.57923 6.63251C2.48573 6.53884 2.41973 6.44009 2.38123 6.33626C2.34273 6.23242 2.32348 6.12026 2.32348 5.99976Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}

.visual .btn_wrap button.btn_next {
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_25_1243' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='12' height='12'%3E%3Crect y='12' width='12' height='12' transform='rotate(-90 0 12)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_25_1243)'%3E%3Cpath d='M9.67652 6.00024C9.67652 6.12074 9.65727 6.23291 9.61877 6.33674C9.58027 6.44058 9.51427 6.53933 9.42077 6.63299L4.92652 11.1272C4.78802 11.2656 4.61394 11.3364 4.40427 11.3397C4.19477 11.3429 4.01752 11.2721 3.87252 11.1272C3.72769 10.9822 3.65527 10.8066 3.65527 10.6002C3.65527 10.3939 3.72769 10.2182 3.87252 10.0732L7.94577 6.00024L3.87252 1.92724C3.73419 1.78874 3.66336 1.61466 3.66002 1.40499C3.65686 1.19549 3.72769 1.01824 3.87252 0.873241C4.01752 0.728408 4.19319 0.655992 4.39952 0.655992C4.60586 0.655992 4.78152 0.728408 4.92652 0.873241L9.42077 5.36749C9.51427 5.46116 9.58027 5.55991 9.61877 5.66374C9.65727 5.76758 9.67652 5.87974 9.67652 6.00024Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}

.visual .btn_wrap button.btn_stop {
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_25_1249' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='12' height='12'%3E%3Crect width='12' height='12' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_25_1249)'%3E%3Cpath d='M7.75 9.25C7.5455 9.25 7.36938 9.17613 7.22163 9.02838C7.07388 8.88063 7 8.7045 7 8.5V3.5C7 3.2955 7.07388 3.11937 7.22163 2.97162C7.36938 2.82387 7.5455 2.75 7.75 2.75H8.125C8.3295 2.75 8.50563 2.82387 8.65338 2.97162C8.80113 3.11937 8.875 3.2955 8.875 3.5V8.5C8.875 8.7045 8.80113 8.88063 8.65338 9.02838C8.50563 9.17613 8.3295 9.25 8.125 9.25H7.75ZM3.875 9.25C3.6705 9.25 3.49438 9.17613 3.34663 9.02838C3.19888 8.88063 3.125 8.7045 3.125 8.5V3.5C3.125 3.2955 3.19888 3.11937 3.34663 2.97162C3.49438 2.82387 3.6705 2.75 3.875 2.75H4.25C4.4545 2.75 4.63063 2.82387 4.77838 2.97162C4.92613 3.11937 5 3.2955 5 3.5V8.5C5 8.7045 4.92613 8.88063 4.77838 9.02838C4.63063 9.17613 4.4545 9.25 4.25 9.25H3.875Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}

.visual .btn_wrap button.btn_play {
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_40_2242' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='12' height='12'%3E%3Crect width='12' height='12' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_40_2242)'%3E%3Cpath d='M4.25 8.2223V3.77805C4.25 3.64605 4.29529 3.53771 4.38587 3.45305C4.47646 3.36846 4.58217 3.32617 4.703 3.32617C4.74075 3.32617 4.78033 3.33163 4.82175 3.34255C4.86317 3.35338 4.90271 3.36971 4.94038 3.39155L8.43837 5.61842C8.50704 5.66525 8.5585 5.72134 8.59275 5.78667C8.62708 5.85209 8.64425 5.92325 8.64425 6.00017C8.64425 6.07709 8.62708 6.14825 8.59275 6.21367C8.5585 6.279 8.50704 6.33509 8.43837 6.38192L4.94038 8.6088C4.90263 8.63063 4.86296 8.64696 4.82137 8.6578C4.77987 8.66871 4.74025 8.67417 4.7025 8.67417C4.58158 8.67417 4.47596 8.63188 4.38563 8.5473C4.29521 8.46263 4.25 8.3543 4.25 8.2223Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    display: none; /* 숨김 -- stop을 누르면 보이게 해야함 */
}

@media screen and (max-width: 1024px){

        .visual .swiper-slide .wrapper {
            height: 600px;
            padding: 0 0 70px 0;
        }

        .visual .swiper-slide h3 {
            font-size: 45px;
        }
        
        .visual .swiper-slide p {
            font-size: 18px;
            margin: 20px 0 80px 0;
        }
}

@media screen and (max-width: 768px){


            .visual .swiper-slide h3 {
                font-size: 30px;
                margin: 0 0 70px 0;
            }

            .visual .swiper-slide .wrapper {
                width: auto;
                height: 460px;

            }
            
            .visual .swiper-slide p {
                display: none;
            }
            
            .visual .btn_wrap {
                left: 20px; /* 좌우고정값...이라서*/
                bottom: 25px;
                width: calc(100% - 20px);
                justify-content: center; /*flex-start; ..??? */
                gap: 5px;
            }
            
            .visual .btn_wrap button {
                width: 20px;
                height: 20px;
                border: 1px solid #fff;
                border-radius: 50%;
                background-position: center center;
                background-repeat: no-repeat;
            }
            
            .visual .btn_wrap button.btn_prev {
                display: none;
            }
            
            .visual .btn_wrap button.btn_next {
                display: none;
            }

} /* @media */


.find {
    background-color: #0F0E38;
    padding: 150px 0 180px 0;
    color: #fff;
}

.find .tit h2 {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

.find .list {
    margin: 32px 0 0 0;
}

.find .list .tap_list ul {
    display: flex;
    justify-content: center;
    gap: 14px;
}

.find .list .tap_list ul li button { /* 선택 안된 디자인 기준으로 코딩 */
    font-size: 20px;
    font-weight: 700;
    padding: 9px 22px;
    color:  rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 30px;
}

.find .list .tap_list ul li.item1.active button {
    background-color: #FD7119;
    color: #fff;
    border: 1px solid #FD7119;

}

.find .list .tap_list ul li.item2.active button {
    background-color: #00BC80;
    color: #fff;
    border: 1px solid #00BC80;
}

.find .list .tap_content {
    margin: 43px 0 0 0;
}

.find .list .tap_content .tap_item {
    display: none; /* 숨김 */
}

.find .list .tap_content .tap_item.active {
    display: block; /* 나타남 */
}

.find .list .tap_content .tap_item > ul {
    display: flex;
    justify-content: space-between;
}

.find .list .tap_content .tap_item > ul > li {
    width: calc(25% - 18px ); /* 여백의 총합(24+24+24) ÷ 1줄에 나타나는 li의 갯수(4) = 18 */
}

.find .list .tap_content .tap_item > ul > li > a {
    display: block;
}

.find .list .tap_content .tap_item > ul > li > a .photo {
    overflow: hidden;
    height: 430px;
    border-radius: 20px;
}

.find .list .tap_content .tap_item > ul > li > a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    transition: 0.5s;
}














/* 마우스 오버 효과 */

.find .list .tap_content .tap_item > ul > li a:hover .photo img {
    transform: scale3d(1.2, 1.2, 1);
}



















.find .list .tap_content .tap_item > ul > li > a .subject {
    display: flex;
    align-items: center;
    gap: 19px;
    margin: 24px 0 16px 0
}

.find .list .tap_content .tap_item > ul > li > a .subject strong {
    padding: 9px 24px;
    border-radius: 30px;
    font-weight: 700;
    line-height: 1.2;
        /* 1줄제한 */
        white-space: nowrap;
}

.find .list .tap_content .tap_item > ul > li > a .subject strong.cate_lost {
    background-color: #FD7119;
}

.find .list .tap_content .tap_item > ul > li > a .subject strong.cate_end {
    background-color: #5C5B5A;
}

.find .list .tap_content .tap_item > ul > li > a .subject strong.cate_see {
    background-color: #00BC80;
}

.find .list .tap_content .tap_item > ul > li > a .subject strong.cate_care {
    background-color: #275DFF;
}

.find .list .tap_content .tap_item > ul > li > a .subject h4 {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    /* 1줄제한 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*

.find .list .tap_content .tap_item > ul > li > a ul.detail {
    margin: 0;
}
            나는 subject에 margin 줘서 안해도 됨
*/

.find .list .tap_content .tap_item > ul > li > a ul.detail li {
    display: flex;
    gap: 32px;
    line-height: 1.8;
}

.find .list .tap_content .tap_item > ul > li > a ul.detail li:first-child {
    margin-left: 30px;
}

.find .list .tap_content .tap_item > ul > li > a ul.detail li strong {
    color: rgba(255, 255, 255, 0.4);
    white-space: nowrap;
}

.find .list .tap_content .tap_item > ul > li > a ul.detail li span {
    /* 1줄제한 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width: 1024px){
    
    .find .tit h2 {
        font-size: 35px;
    }

    .find .list .tap_content .tap_item > ul {
        gap: 40px 16px;
        flex-wrap: wrap; /* 줄바꿈 허용 */
        
    }
    
    .find .list .tap_content .tap_item > ul > li {
        width: calc(50% - 8px);
        /* 여백의 총합 ÷ 1줄에 나타나는 li의 갯수 */
    }

    .find .list .tap_content .tap_item > ul > li > a .photo {
        height: 215px;
        border-radius: 15px;
    }

}

@media screen and (max-width: 768px){

            .find {
                padding: 70px 0 70px 0;
            }
            
            .find .tit h2 {
                font-size: 25px;
            }
            
            .find .list {
                margin: 24px 0 0 0;
            }
            
            .find .list .tap_list ul {
                gap: 16px;
            }
            
            .find .list .tap_list ul li button { /* 선택 안된 디자인 기준으로 코딩 */
                font-size: 16px;
                border-radius: 20px;
            }

            .find .list .tap_content {
                margin: 24px 0 0 0;
            }







            .find .list .tap_content .tap_item > ul > li > a .subject {
                display: block;
                margin: 15px 0 8px 0;
                position: relative; /* strong 정렬의 기준*/
            }
            
            .find .list .tap_content .tap_item > ul > li > a .subject strong {
                position: absolute;
                font-size: 17px;
                left: 0;
                top: -53px;

                padding: 9px 20px;
                border-radius: 12px;
            }
            
            .find .list .tap_content .tap_item > ul > li > a .subject h4 {
                font-size: 20px;
                font-weight: 700;
                line-height: 1.2;
                /* 1줄제한 */
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            
            /*
            
            .find .list .tap_content .tap_item > ul > li > a ul.detail {
                margin: 0;
            }
                        나는 subject에 margin 줘서 안해도 됨
            */
            
            .find .list .tap_content .tap_item > ul > li > a ul.detail li {
                display: block;
                line-height: 1.8;
            }
            
            .find .list .tap_content .tap_item > ul > li > a ul.detail li:first-child {
                margin-left: 0;
            }
            
            .find .list .tap_content .tap_item > ul > li > a ul.detail li strong {
                display: none;
            }
            
            .find .list .tap_content .tap_item > ul > li > a ul.detail li span {
                display: block;
                color: rgba(255, 255, 255, 0.6);
            }


} /* @media .find 768px */


.slogan {
    margin: 176px 0 0;
}

.slogan .sub_tit {
    font-size: 60px;
    line-height: 1.5;
    color: #1d1d1d;
    text-align: center;
}

.slogan .sub_tit strong {
    display: inline-block;
    /* 글자를 태그로 감싸고 inline-block 주면
    줄바꿈이 될 때 inline-block 으로 묶인 글자가 단락으로 줄바뀜  */
}

.slogan .sub_tit span {
    display: inline-block;
    color: transparent; /* span에 높이를 줘야하는데 height 가 적용이 안돼서 글자를 쓰고 투명처리했다. */
    position: relative; /* before 정렬의 기준 */
}

.slogan .sub_tit span::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* sapn의 영역에 위아래 가운데 좌우에 가운데 */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.slogan .sub_tit span.item1::before {
    top: 40%;
    width: 1.93em; /* 116 ÷ 60 */
    height: 1.33em; /* 80 ÷ 60 */
    background-image: url(../images/slogan_01.png);
}

.slogan .sub_tit span.item2::before {
    width: 2.78em; /* 167 ÷ 60 */
    height: 1.76em; /* 106 ÷ 60 */
    background-image: url(../images/slogan_02.png);
}

.slogan .sub_tit span.item3::before {
    width: 2.13em; /* 128 ÷ 60 */
    height: 1.48em; /* 89 ÷ 60 */
    background-image: url(../images/slogan_03.png);
}

.slogan .sub_tit span.item4::before {
    width: 1.83em; /* 110 ÷ 60 */
    height: 1.41em; /* 85 ÷ 60 */
    background-image: url(../images/slogan_04.png);
}


.slogan .sub_tit span.item1 {
    width: 2.68em;
    /*
        그림이 들어갈 글자 사이의 넓이 ÷ 글자 크기
        161px ÷ 60px = 2.683333...
        1em은 현재 해당 요소에 상속된 글자 크기를 1로 봄 (상대크기... 라고 함)
    */
} 

.slogan .sub_tit span.item2 {
    width: 3.43em;
    /*
        그림이 들어갈 글자 사이의 넓이 ÷ 글자 크기
        206px ÷ 60px = 3.43333...
    */
}

.slogan .sub_tit span.item3 {
    width: 3em;
    /*
        그림이 들어갈 글자 사이의 넓이 ÷ 글자 크기
        180px ÷ 60px = 3...
    */
}

.slogan .sub_tit span.item4 {
    width: 2.45em;
    /*
        그림이 들어갈 글자 사이의 넓이 ÷ 글자 크기
        147px ÷ 60px = 2.45
    */
}

.slogan .ex {
    margin: 60px 0 150px 0;
    text-align: center;
    color: #666;
}

@media screen and (max-width:1300px) {
    .slogan .sub_tit {
        font-size: 50px;
    }
}

@media screen and (max-width: 1024px){
            .slogan .sub_tit {
                font-size: 40px;
            }
} /*  @media -1024px  */

@media screen and (max-width: 768px){

            .slogan {
                margin: 78px 0 0;
            }
            
            .slogan .sub_tit {
                font-size: 25px;
            }

            .slogan .sub_tit br {
                display: none;
            }
            
            .slogan .ex {
                margin: 36px 0 70px 0;
                font-size: 14px;
            }

            .slogan .ex br {
                display: none;
            }

}


.adopt {
    background-color: #0F0E38;
    padding: 150px 0 297px 0;
    color: #fff;
    text-align: center;
    position: relative; /* rolling 정렬의 기준 */
}

.adopt .tit h2 {
    font-size: 40px;
    font-weight: 700;
    margin: 0 0 80px 0;
}

.adopt .list .swiper-slide {
    width: 300px;
}

.adopt .list .swiper-slide a {
    display: block;
}

.adopt .list .swiper-slide a .photo {
    overflow: hidden;
    height: 300px;
    border-radius: 50%;
}

.adopt .list .swiper-slide a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    transition: 0.5s;
}



















.adopt .list .swiper-slide a:hover .photo img {
    transform: scale3d(1.2, 1.2, 1);
}






















.adopt .list .swiper-slide a strong {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    padding: 9px 24px;
    background-color: #FD7119;
    border-radius: 30px;
    display: inline-block;
    position: relative;
    top: -16px;
}

.adopt .list .swiper-slide a h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    margin: 0 0 14px 0;
}

.adopt .list .swiper-slide a p {
    color: rgba(255, 255, 255, 0.8);
    /* 한줄제한 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.adopt .list .swiper-slide a strong.cate_care {
    background-color: #275DFF;
}

.adopt .list_ctrl {
    margin: 99px 0 0 0;
    display: flex;
    justify-content: center;
    gap: 6px;
}

.adopt .list_ctrl button {
    width: 26px;
    height: 26px;
    border: 1px solid #fff;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_25_1339' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='16' height='16'%3E%3Crect x='15.7998' y='0.199219' width='15.6' height='15.6' transform='rotate(90 15.7998 0.199219)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_25_1339)'%3E%3Cpath d='M3.22023 8.00008C3.22023 7.84343 3.24525 7.69761 3.2953 7.56263C3.34535 7.42764 3.43115 7.29927 3.5527 7.1775L9.39523 1.33498C9.57528 1.15514 9.80158 1.06306 10.0742 1.05873C10.3465 1.05461 10.5769 1.14669 10.7654 1.33498C10.9537 1.52348 11.0479 1.75184 11.0479 2.02008C11.0479 2.28831 10.9537 2.51668 10.7654 2.70518L5.4702 8.00008L10.7654 13.295C10.9453 13.475 11.0373 13.7013 11.0417 13.9739C11.0458 14.2463 10.9537 14.4767 10.7654 14.6652C10.5769 14.8535 10.3486 14.9476 10.0803 14.9476C9.81209 14.9476 9.58372 14.8535 9.39522 14.6652L3.5527 8.82265C3.43115 8.70088 3.34535 8.57251 3.2953 8.43753C3.24525 8.30254 3.22023 8.15673 3.22023 8.00008Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");}

.adopt .list_ctrl button.btn_next{
    transform: rotate(180deg);
}

.adopt .list_ctrl .more {
    font-size: 12px;
    line-height: 26px;
    height: 26px;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 0 36px 0 19px;
    position: relative;
}

.adopt .list_ctrl .more::before {
    content: "";
    position: absolute;
    right: 17px;
    top: 6px;
    width: 11px;
    height: 11px;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.37467 6.62565H1.20801C1.03092 6.62565 0.882522 6.56572 0.7628 6.44586C0.642938 6.326 0.583008 6.17753 0.583008 6.00044C0.583008 5.82322 0.642938 5.67482 0.7628 5.55523C0.882522 5.43551 1.03092 5.37565 1.20801 5.37565H5.37467V1.20898C5.37467 1.0319 5.43461 0.883498 5.55447 0.763776C5.67433 0.643915 5.8228 0.583984 5.99988 0.583984C6.17711 0.583984 6.32551 0.643915 6.44509 0.763776C6.56481 0.883498 6.62467 1.0319 6.62467 1.20898V5.37565H10.7913C10.9684 5.37565 11.1168 5.43558 11.2365 5.55544C11.3564 5.6753 11.4163 5.82378 11.4163 6.00086C11.4163 6.17808 11.3564 6.32648 11.2365 6.44607C11.1168 6.56579 10.9684 6.62565 10.7913 6.62565H6.62467V10.7923C6.62467 10.9694 6.56474 11.1178 6.44488 11.2375C6.32502 11.3574 6.17655 11.4173 5.99947 11.4173C5.82224 11.4173 5.67384 11.3574 5.55426 11.2375C5.43454 11.1178 5.37467 10.9694 5.37467 10.7923V6.62565Z' fill='white'/%3E%3C/svg%3E%0A");
}

.adopt .rolling {
    position: absolute; /* adopt 기준으로 정렬 */
    left: 0;
    bottom: 61px;
    width: 100%;
    
}
.adopt .rolling p {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 100px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.2);
    white-space: nowrap;

    animation-name: rolling;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; /* 가속도삭제 */
}

@keyframes rolling {
    0% {left: 0;}
    100% {left: -15.07em;}
}

@media screen and (max-width: 1024px){

            .adopt {
                padding: 70px 0 170px 0;
            }
            
            .adopt .tit h2 {
                font-size: 35px;
            }

            .adopt .list .swiper-slide {
                width: 250px;
            }
            
            .adopt .list .swiper-slide a .photo {
                height: 250px;
            }
            






            .adopt .list .swiper-slide a strong {
                font-size: 17px;
                padding: 6px 17px;
                border-radius: 15px;
                display: inline-block;
                position: relative;
                top: -20px;
            }
            
            .adopt .list .swiper-slide a h3 {
                font-size: 17px;
                margin: 0 0 11px 0;
            }
            
            .adopt .list_ctrl {
                margin: 66px 0 0 0;
            }
            
            .adopt .list_ctrl button {
            display: none;
            }
            
            .adopt .list_ctrl button.btn_next{
                transform: rotate(180deg);
            }

            .adopt .rolling {
                position: absolute; /* adopt 기준으로 정렬 */
                left: 0;
                bottom: 38px;
                width: 100%;
                
            }
            .adopt .rolling p {
                font-size: 50px;
            }






}

@media screen and (max-width: 768px) {

        .adopt {
            padding: 70px 0 170px 0;
        }
        
        .adopt .tit h2 {
            font-size: 25px;
            margin: 0 0 45px 0;
        }

        .adopt .list .swiper {
            padding-left: 20px;
        }

        .adopt .list .swiper-slide {
            width: 228px;
        }
        
        .adopt .list .swiper-slide a .photo {
            height: 228px;
        }
        
        .adopt .list .swiper-slide a strong {
            font-size: 17px;
            padding: 6px 17px;
            border-radius: 15px;
            display: inline-block;
            position: relative;
            top: -20px;
        }
        
        .adopt .list .swiper-slide a h3 {
            font-size: 17px;
            margin: 0 0 11px 0;
        }
        
        .adopt .list_ctrl {
            margin: 66px 0 0 0;
        }
        
        .adopt .list_ctrl button {
           display: none;
        }
        
        .adopt .list_ctrl button.btn_next{
            transform: rotate(180deg);
        }

        .adopt .rolling {
            position: absolute; /* adopt 기준으로 정렬 */
            left: 0;
            bottom: 38px;
            width: 100%;
            
        }
        .adopt .rolling p {
            font-size: 50px;
        }
        

} /*  @media  adopt - 1024  */





















footer {
    background-color: #1D1D1D;
    padding: 500px 0 0 0;
}