/* 태그 스타일의 초기화. reset 이라고도 부름 */
h1, h2, h3, h4, h5, h6 {
    font-weight: inherit; /* inherrit - 브라우저에서 주는 스타일 취소 (=내가 준거나 써)*/
    font-size: inherit;
}
strong {
    font-weight: inherit;
}
em, address {
    font-style: normal; /* 글자의 기울임 취소 (normal 로 바르게 세웠다.) */
}
a {
    color: inherit; /* 글씨색 변경을 막음 */
    text-decoration: none; /* 밑줄 삭제 */
}
button {
    cursor: pointer; /* 마우스포인터 손바닥 생성 */
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit; /* butten 태그는 상속을 안 받아서 일일이 입력해줘야함 */
    border: none; /* 테두리 삭제. border : 0; 으로 대체 가능!!  헷갈릴 경우 개발자모드에서 눌러보자*/
    background-color: transparent; /* 트랜스패런트 : 배경색 투명 */
    /* ㄴbackground: none; 으로 대체 가능 / 배경에 있는 거 다 취소하기 (삭제 개념이라 transparent 보다 좀 더 강함)*/
}
* { /* 와일드카드는 상속의 우선이 제일 밀림 */
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* 높이+넓이를 준 경우, 바뀌지 않도록 유지 시켜주는 코드. flex는 적용 안되나봐... */
}
li {
    list-style: none; /* li 앞에 동그라미 삭제시켜주는 코드 */
}