@import url(difault.css); /* 디폴트를 불러올 땐 일반적으로 맨 위에 둔다.*/
@import url(font.css);
@import url(common.css);

header {
    display: flex;
    justify-content: space-between; /* logo와 inner를 header 넓이 안에서 좌우 끝으로 배치 */
    height: 100px;
    padding: 0 30px 0 30px; /* margin 으로 해도 됨 */
}
header .logo {
    margin: 31px 0 0 0;
} 
header .inner {
    display: flex; /* gnb 와 shop 을 좌우 끝으로 배치 */
    align-items: center; /* 쇼핑몰(div="shop")이 위아래로 넓직해지는 걸 막아줌 */
}
header .inner .gnb ul {
    display: flex;
}
header .inner .gnb ul li a { /* 후에 하위메뉴가 생길 예정이라 a에게 정확히 주는 것이 좋다.*/
    display: block; /* a의 필수값!!!! */
    font-size: 23px;
    font-weight: 700;
    line-height: 100px; /* <- 행간 때문에 딱 맞기 어려웠던 것...
    header의 높이랑 1차메뉴의 a의 높이는 같아야 한다. ***a의 행간을 header의 높이로 줌***
    그러면 a에 높이가 생기고 글자는 위아래 가운데 정렬이 된다.*/
    color: #1d1d1d;
    padding: 0px 32px 0px 32px;
}
header .inner .shop {
    font-size: 20px;
    font-weight: 700;
    color: #1EB159;
    border: 1px solid #1EB159;
    border-radius: 29px;
    padding: 8px 39px;
    margin: 0 0 0 50px; /* nav와 멀어지기 위해 준 마진 */
}

.visual { /* container는 안부른다 */
    background: url(../images/visual_bg2.jpg) no-repeat center center / cover;
    border-radius: 15px;
    margin: 0 30px 0 30px;
    height: 800px;
    color: #fff;
    text-align: center;
}
.visual h2 { /* 글씨가 2줄이 아니라면 행간은 줄 필요 없음 */
    font-size: 45px;
    font-weight: 700;
    letter-spacing: -0.02em; /* -20 */
    padding: 235px 0 9px 0;
}
.product {
    margin: 153px 0 0 0;
}
.product .tit h2 {
    color: #1EB159;
}
.product .tit p {
    font-size: 45px;
    font-weight: 700;
    letter-spacing: -0.02em; /* -20 */
    margin: 5px 0 40px 0;
}
.product .list {
    margin: 30px 0 0 0;
}
.product .list ul {
    display: flex;
    gap: 24px;
}
.product .list ul li {
    width: 404px;
}
/* ┌ a의 필수값!! 잊지말것 중요해서 두번 적음*/
.product .list ul li a {
    display: block;
}
.product .list ul li a .photo {
    font-size: 0;
    line-height: 0;
}
/* └ 이미지 하단의 여백을 삭제하기 위해
    img 태그에 직접 주면 적용X
    img태그만 감싸는 요소에 줘야함! */
.product .list ul li a h3 {
    font-size: 20px;
    color: #1d1d1d;
    margin: 10px 0 0 0;
 /* ┌ 1줄 제한 */
        white-space: nowrap;
        overflow: hidden; /* h3 영역이 넘어가는 글을 숨겨주는 태그 */
        text-overflow: ellipsis; /* 영역이 넘어가는 끝에 ...를 붙여준다. */
}
.network {
    background: url(../images/network_bg.jpg) no-repeat center center / cover;
    margin: 123px 0 0 0;
    height: 610px;
    color: rgba(255, 255, 255, 0.8);
}
.network h2 {
    padding: 166px 0 0 0;
    color: #fff;
}
.network .sub_tit {
    font-size: 45px;
    font-weight: 700;
    letter-spacing: -0.02em; /* -20 */
    margin: 5px 0 6px 0;
    color: #fff;
}
.network a {
    display: inline-block; /* 바짝 붙게 하려고 씀 */
    font-size: 15px;
    border: 1px solid #fff;
    border-radius: 22px;
    margin: 53px 0 0 0;
    padding: 10px 27px;
}
.community {
    margin: 189px 0 0 0;
}
.community .tit h2 {
    color: #1EB159;
}
.community .tit p {
    font-size: 45px;
    font-weight: 700;
    letter-spacing: -0.02em; /* -20 */
    margin: 5px 0 60px 0;
}
.community .list {
    margin: 30px 0 0 0;
    display: flex; /* group을 좌우로 배치 */
    justify-content: space-between;
}
.community .list .group {
    width: calc(50% - 6px);
    /*
        1. 몇개로 분할하느냐? : 2개 = 100/2 = 50%
        2. 사이 여백의 총합 / 분할하는 갯수 - 12/2 = 6px
    */
}
.community .list .group ul {
    display: flex;
    flex-wrap: wrap; /* li의 줄바꿈 허용 / 줄을 바꾸게 해주는 코드 -리뷰박스가 아래로 내려간다- */
    gap: 12px;
}
/* 1. li의 사이즈와 a의 사이즈가 동일해야할 때
   2. height(높이)를 꼭 줘야 하는 디자인일 때 (위에 product는 높이가 필요없는 디자인)
   -- li에는 넓이를 주고 a에는 높이를 줌 */

/* .community .list .group ul li { 
  border: 1px solid #ccc;
}
    아래의 코드를 줄 때 크기를 파악하는 용의 임시 border 코드 */

.community .list .group ul li.color,
.community .list .group ul li.gray { /* li중에서 color를 가진 li와 gray를 가진 li를 불러옴 */
    width: calc(50% - 6px); /* 그룹의 넓이의 절반으로 디자인해서 얘도 50%로 적어도 된다. */
}
.community .list .group ul li.color a,
.community .list .group ul li.gray a {
    height: 230px;
}
.community .list .group ul li.color.bg1 a {
    background-color: #1EB159;
    color: #fff;
}
.community .list .group ul li.color.bg2 a {
    background-color: #0057B8;
    color: #fff;
}
.community .list .group ul li.gray a {
    background-color: #F7F7F7;
}

.community .list .group ul li.review {
    width: 100%; /* %는 나를 감싸는 요소(ui의 넓이) 기준으로 잡힘...*/

}
.community .list .group ul li a {
    display: block; /* 얘는 a태그 필수지만, 아래의 display : flex 가 있어서 삭제해도 되고, 냅둬도 아래의 display로 적용된다!*/
    padding: 0 20px 19px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.community .list .group ul li.review a {
    height: 389px;
    color: #fff;
}
.community .list .group ul li.review.bg1 a {
    background: url(../images/community_bg1.jpg) no-repeat center center / cover;
}
.community .list .group ul li.review.bg2 a {
    background: url(../images/community_bg2.jpg) no-repeat center center / cover;
}
.community .list .group ul li a h3 {
    font-size: 25px;
    font-weight: 700;
    letter-spacing: -0.02em;
    /* 1줄 제한 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 4px 0 34px 0;
}
.community .list .group ul li a .date {
    display: flex;
    gap: 22px;
}
.community .list .group ul li.color a .date,
.community .list .group ul li.review a .date {
    color: rgba(255, 255, 255, 0.8);
}
.community .list .group ul li.gray a .date {
    color: #666;
}
footer {
    margin: 195px 0 0 0;
    padding: 80px 0 114px 0;
    background-color: #E9E9E9;
}
footer .f_nav ul {
    display: flex;
    gap: 45px;
}
footer .f_nav {
    border-bottom: 1px solid #ccc;
    padding: 0 0 20px 0;
}
footer .f_info {
    margin: 20px 0 40px 0;
    line-height: 1.76;
}
footer .f_info .group {
    display: flex;
    gap: 30px;
}