@import url(default.css);
@import url(res_common.css);
@import url(font.css);

header {
    z-index: 100;
    position: fixed; /* 상단고정 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    transition: 0.5s;
}

header .wrapper {
    display: flex; /* logo, gnb, tnb 좌우배치 */
    justify-content: space-between;
    align-items: center;
}

header .logo a {
    display: block;
    width: 180px;
    height: 60px;
    background: url(../images/logo_white.svg) no-repeat center center / contain;
    /* contain - 로고 안잘리고 영역에 맞게 리사이즈 */
    transition: 0.5s;
}

header .gnb .gnb_open,
header .gnb .gnb_close {
    display: none; /* 숨김 - 모바일에서만 나옴 */
}

header .gnb .gnb_wrap ul.depth1 {
    display: flex; /* 1차메뉴 li를 좌우로 배치 */
}

header .gnb .gnb_wrap ul.depth1>li>a {
    /* 1차메뉴 a가 선택됐다! */
    display: block;
    font-size: 25px;
    font-weight: 400;
    line-height: 100px;
    color: #fff;
    padding: 0 31px;
    transition: 0.5s;
}

header .gnb .gnb_wrap ul.depth1>li>.depth2 {
    display: none;
}

header .tnb .search {
    display: block;
    width: 40px;
    height: 40px;
    background-image: url("data:image/svg+xml,%3Csvg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_1_155' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='34' height='34'%3E%3Crect width='34' height='34' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_1_155)'%3E%3Cpath d='M13.4855 22.1217C11.0663 22.1217 9.01761 21.2827 7.33933 19.6046C5.66129 17.9264 4.82227 15.8776 4.82227 13.4584C4.82227 11.0392 5.66129 8.99051 7.33933 7.31223C9.01761 5.63419 11.0663 4.79517 13.4855 4.79517C15.9047 4.79517 17.9535 5.63419 19.6317 7.31223C21.3098 8.99051 22.1488 11.0392 22.1488 13.4584C22.1488 14.4702 21.979 15.4365 21.6395 16.3573C21.2998 17.2781 20.8465 18.079 20.2799 18.76L28.4314 26.9115C28.6276 27.1074 28.7279 27.3539 28.7324 27.651C28.7369 27.948 28.6365 28.1991 28.4314 28.4043C28.2262 28.6094 27.9773 28.712 27.6848 28.712C27.3925 28.712 27.1437 28.6094 26.9386 28.4043L18.7871 20.2528C18.0787 20.8376 17.2641 21.2953 16.3433 21.6259C15.4225 21.9564 14.4699 22.1217 13.4855 22.1217ZM13.4855 19.9971C15.3109 19.9971 16.857 19.3636 18.1237 18.0966C19.3907 16.8299 20.0242 15.2838 20.0242 13.4584C20.0242 11.6331 19.3907 10.087 18.1237 8.82027C16.857 7.5533 15.3109 6.91981 13.4855 6.91981C11.6602 6.91981 10.1141 7.5533 8.84737 8.82027C7.5804 10.087 6.94691 11.6331 6.94691 13.4584C6.94691 15.2838 7.5804 16.8299 8.84737 18.0966C10.1141 19.3636 11.6602 19.9971 13.4855 19.9971Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
    transition: 0.5s;
}

/************************ ㅡ header가 고정되었을 때 ㅡ *********************************/

        header.fixed {
            border-bottom: 0;
            background-color: #fff;
            box-shadow: 0, 4px, 5px, 0 rgba(0, 0, 0, 0.1);
        }

        header .wrapper {
            display: flex; /* logo, gnb, tnb 좌우배치 */
            justify-content: space-between;
            align-items: center;
        }

        header.fixed .logo a {
            background-image: url(../images/logo.svg);
            /* background로 선언하고 배경이미지, 반복, 위치, 크기 등을
            지정했는데 이때 이미지만 변경하려면
            반드시 background-image 라고 속성을 쓰고 변경해야함
            background 라고 하면 모든 반복, 위치, 크기 등의 다른 속성이 취소됨 ... */
        }

        header.fixed .gnb .gnb_wrap ul.depth1>li>a {
            color: #1d1d1d;

        }

        header.fixed .tnb .search {
            background-image: url("data:image/svg+xml,%3Csvg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_1_234' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='34' height='34'%3E%3Crect width='34' height='34' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_1_234)'%3E%3Cpath d='M13.4855 22.1217C11.0663 22.1217 9.01761 21.2827 7.33933 19.6046C5.66129 17.9264 4.82227 15.8776 4.82227 13.4584C4.82227 11.0392 5.66129 8.99051 7.33933 7.31223C9.01761 5.63419 11.0663 4.79517 13.4855 4.79517C15.9047 4.79517 17.9535 5.63419 19.6317 7.31223C21.3098 8.99051 22.1488 11.0392 22.1488 13.4584C22.1488 14.4702 21.979 15.4365 21.6395 16.3573C21.2998 17.2781 20.8465 18.079 20.2799 18.76L28.4314 26.9115C28.6276 27.1074 28.7279 27.3539 28.7324 27.651C28.7369 27.948 28.6365 28.1991 28.4314 28.4043C28.2262 28.6094 27.9773 28.712 27.6848 28.712C27.3925 28.712 27.1437 28.6094 26.9386 28.4043L18.7871 20.2528C18.0787 20.8376 17.2641 21.2953 16.3433 21.6259C15.4225 21.9564 14.4699 22.1217 13.4855 22.1217ZM13.4855 19.9971C15.3109 19.9971 16.857 19.3636 18.1237 18.0966C19.3907 16.8299 20.0242 15.2838 20.0242 13.4584C20.0242 11.6331 19.3907 10.087 18.1237 8.82027C16.857 7.5533 15.3109 6.91981 13.4855 6.91981C11.6602 6.91981 10.1141 7.5533 8.84737 8.82027C7.5804 10.087 6.94691 11.6331 6.94691 13.4584C6.94691 15.2838 7.5804 16.8299 8.84737 18.0966C10.1141 19.3636 11.6602 19.9971 13.4855 19.9971Z' fill='%231D1D1D'/%3E%3C/g%3E%3C/svg%3E%0A");
        }

@media screen and (max-width:640px){ 

                        header {
                            height: 56px;
                        }
                        
                        header .wrapper {
                            margin-right: 0;
                            /* 오른쪽 여백 삭제 ... gnb_opon 배치하려고 */
                        }
                        
                        header .logo a {
                            width: 92px;
                            height: 30px;
                        }
                        
                        header .gnb .gnb_open {
                            display: block;
                            width: 56px;
                            height: 56px;
                            background : 0;
                            background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_1_250' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='30' height='30'%3E%3Crect width='30' height='30' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_1_250)'%3E%3Cpath d='M5.3125 8.75C5.04688 8.75 4.82427 8.6601 4.64469 8.48031C4.4649 8.30052 4.375 8.07781 4.375 7.81219C4.375 7.54635 4.4649 7.32375 4.64469 7.14437C4.82427 6.96479 5.04688 6.875 5.3125 6.875H24.6875C24.9531 6.875 25.1757 6.9649 25.3553 7.14469C25.5351 7.32448 25.625 7.54719 25.625 7.81281C25.625 8.07865 25.5351 8.30125 25.3553 8.48063C25.1757 8.66021 24.9531 8.75 24.6875 8.75H5.3125ZM5.3125 23.125C5.04688 23.125 4.82427 23.0351 4.64469 22.8553C4.4649 22.6755 4.375 22.4528 4.375 22.1872C4.375 21.9214 4.4649 21.6987 4.64469 21.5194C4.82427 21.3398 5.04688 21.25 5.3125 21.25H24.6875C24.9531 21.25 25.1757 21.3399 25.3553 21.5197C25.5351 21.6995 25.625 21.9222 25.625 22.1878C25.625 22.4536 25.5351 22.6763 25.3553 22.8556C25.1757 23.0352 24.9531 23.125 24.6875 23.125H5.3125ZM5.3125 15.9375C5.04688 15.9375 4.82427 15.8476 4.64469 15.6678C4.4649 15.488 4.375 15.2653 4.375 14.9997C4.375 14.7339 4.4649 14.5113 4.64469 14.3319C4.82427 14.1523 5.04688 14.0625 5.3125 14.0625H24.6875C24.9531 14.0625 25.1757 14.1524 25.3553 14.3322C25.5351 14.512 25.625 14.7347 25.625 15.0003C25.625 15.2661 25.5351 15.4888 25.3553 15.6681C25.1757 15.8477 24.9531 15.9375 24.6875 15.9375H5.3125Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
                            background-repeat: no-repeat;
                            background-position: center center;
                        }
                        
                        header .gnb .gnb_wrap {
                            display: none;
                        }
                        
                        header .tnb {
                            display: none;
                        }


                        header.fixed .gnb .gnb_open { /* fixed가 추가됐을 때, 아이콘색 변경 */
                            background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_1_328' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='30' height='30'%3E%3Crect width='30' height='30' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_1_328)'%3E%3Cpath d='M5.3125 8.75C5.04688 8.75 4.82427 8.6601 4.64469 8.48031C4.4649 8.30052 4.375 8.07781 4.375 7.81219C4.375 7.54635 4.4649 7.32375 4.64469 7.14437C4.82427 6.96479 5.04688 6.875 5.3125 6.875H24.6875C24.9531 6.875 25.1757 6.9649 25.3553 7.14469C25.5351 7.32448 25.625 7.54719 25.625 7.81281C25.625 8.07865 25.5351 8.30125 25.3553 8.48063C25.1757 8.66021 24.9531 8.75 24.6875 8.75H5.3125ZM5.3125 23.125C5.04688 23.125 4.82427 23.0351 4.64469 22.8553C4.4649 22.6755 4.375 22.4528 4.375 22.1872C4.375 21.9214 4.4649 21.6987 4.64469 21.5194C4.82427 21.3398 5.04688 21.25 5.3125 21.25H24.6875C24.9531 21.25 25.1757 21.3399 25.3553 21.5197C25.5351 21.6995 25.625 21.9222 25.625 22.1878C25.625 22.4536 25.5351 22.6763 25.3553 22.8556C25.1757 23.0352 24.9531 23.125 24.6875 23.125H5.3125ZM5.3125 15.9375C5.04688 15.9375 4.82427 15.8476 4.64469 15.6678C4.4649 15.488 4.375 15.2653 4.375 14.9997C4.375 14.7339 4.4649 14.5113 4.64469 14.3319C4.82427 14.1523 5.04688 14.0625 5.3125 14.0625H24.6875C24.9531 14.0625 25.1757 14.1524 25.3553 14.3322C25.5351 14.512 25.625 14.7347 25.625 15.0003C25.625 15.2661 25.5351 15.4888 25.3553 15.6681C25.1757 15.8477 24.9531 15.9375 24.6875 15.9375H5.3125Z' fill='%231D1D1D'/%3E%3C/g%3E%3C/svg%3E%0A");
                        }


}



.visual {
    height: 100vh;
    background: url(../images/visual_bg2.jpg) no-repeat center center / cover;
    color: #fff;
    border: 1px solid transparent; /* 투명한 1px border - margin이 영역 밖으로 못나가게 하는 방법ㅋㅋ
    편법이니 자주 쓰진 말자... */
}

.visual h2 {
    margin: 48vh 0 0 0; /* (h2와 header까지의 높이 ÷ bg의 높이) x 100 = 48.58...*/ 
    font-size: 45px;
    font-weight: 700;
    line-height: 1.2;
}

@media screen and (max-width:640px){

    .visual h2 {
        margin: 61vh 0 0 0; /* (h2 높이의 반 ÷ bg의 높이) x 100 = 60.71...*/ 
        transform: translateY(-50%);
        /* 나의 높이 절반을 위로 이동 */
        font-size: 25px;
        text-align: center;
    }

} /* //@ media */








footer {
    margin: 1000px 0 0 0;
}