@import url(default.css);
@import url(fonts.css);
@import url(common.css);

/*
h2 {
    font-family: 'Gmarket Sans';
    font-weight: 700;
    font-size: 45px;
    line-height: 1.2;
    letter-spacing: -0.05em;
    color: #1d1d1d;
}
*/

.section_tit {
    font-family: 'Gmarket Sans';
    font-size: 45px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.05em;
    color: #1d1d1d;
}

@media screen and (max-width:640px) {
                    .section_tit {
                        font-size: 25px;
                    }
}

header {
    height: 100px;
    position: absolute; /* wrap 을 기준으로 정렬 */
    left: 0;
    top: 0;
    color: #fff;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    z-index: 100; /* 밑위에 배치 */
}

header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .gnb .gnb_open,
header .gnb .gnb_close {
    display: none;
}

header .gnb .gnb_wrap ul {
    display: flex;
}

header .gnb .gnb_wrap ul li a {
    display: block;
    font-family: 'Gmarket Sans';
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -0.05em;
    color: #fff;
    line-height: 100px; /* a의 높이를 헤더에 맞게 맞춰야하므로 기존 1.2;는 삭제한다. 두 번 줄 필요가 없음. */
    /* ㄴ 글자의 높이가 헤더와 같아지고 위아래 가운데에 글자가 들어감 ( 밑에 하위메뉴를 열기위한 값 ) */
    padding: 0 16px;
}

header .tnb {
    display: flex;
    gap: 11px;
}

header .tnb .mypage {
    display: block; /* a에게 mypage라는 이름을 준 것이므로 a의 필수값을 입력했음 */
    width: 36px;
    height: 36px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 8.64128C7.87708 8.64128 6.91585 8.2415 6.11629 7.44194C5.31654 6.64219 4.91667 5.68086 4.91667 4.55794C4.91667 3.43503 5.31654 2.47379 6.11629 1.67423C6.91585 0.874484 7.87708 0.474609 9 0.474609C10.1229 0.474609 11.0842 0.874484 11.8837 1.67423C12.6835 2.47379 13.0833 3.43503 13.0833 4.55794C13.0833 5.68086 12.6835 6.64219 11.8837 7.44194C11.0842 8.2415 10.1229 8.64128 9 8.64128ZM0.25 15.7536V14.9322C0.25 14.361 0.405167 13.8319 0.7155 13.345C1.02583 12.8581 1.44058 12.4838 1.95975 12.2221C3.11281 11.6568 4.27607 11.2328 5.44954 10.9501C6.62301 10.6674 7.8065 10.526 9 10.526C10.1935 10.526 11.377 10.6674 12.5505 10.9501C13.7239 11.2328 14.8872 11.6568 16.0402 12.2221C16.5594 12.4838 16.9742 12.8581 17.2845 13.345C17.5948 13.8319 17.75 14.361 17.75 14.9322V15.7536C17.75 16.2455 17.5776 16.664 17.2329 17.0089C16.8881 17.3537 16.4697 17.526 15.9775 17.526H2.02246C1.53032 17.526 1.11187 17.3537 0.767125 17.0089C0.422375 16.664 0.25 16.2455 0.25 15.7536ZM2 15.776H16V14.9322C16 14.696 15.9316 14.4772 15.7947 14.276C15.6578 14.0749 15.472 13.9108 15.2373 13.7837C14.232 13.2886 13.2071 12.9135 12.1625 12.6584C11.1178 12.4035 10.0636 12.276 9 12.276C7.93639 12.276 6.88221 12.4035 5.83746 12.6584C4.7929 12.9135 3.76799 13.2886 2.76271 13.7837C2.52801 13.9108 2.34222 14.0749 2.20533 14.276C2.06844 14.4772 2 14.696 2 14.9322V15.776ZM9 6.89128C9.64167 6.89128 10.191 6.6628 10.6479 6.20586C11.1049 5.74891 11.3333 5.19961 11.3333 4.55794C11.3333 3.91628 11.1049 3.36697 10.6479 2.91003C10.191 2.45308 9.64167 2.22461 9 2.22461C8.35833 2.22461 7.80903 2.45308 7.35208 2.91003C6.89514 3.36697 6.66667 3.91628 6.66667 4.55794C6.66667 5.19961 6.89514 5.74891 7.35208 6.20586C7.80903 6.6628 8.35833 6.89128 9 6.89128Z' fill='white'/%3E%3C/svg%3E%0A");
    background-size: 18px; /* 아이콘 크기 지정 가능... 여기서는 ↑ 위의 width / height를 삭제해서 여기에서 준 것... 모바일에 쓰인다나 뭐라나*/
    background-repeat: no-repeat;
    background-position: center center;
}

header .tnb .lang {
    display: block;
    width: 36px;
    height: 36px;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.9998 23.0827C10.4803 23.0827 9.04623 22.7914 7.69775 22.2088C6.34928 21.6263 5.17328 20.8332 4.16975 19.8294C3.16603 18.8259 2.37289 17.6499 1.79034 16.3014C1.20778 14.953 0.916504 13.5189 0.916504 11.9993C0.916504 10.4677 1.20778 9.03067 1.79034 7.68822C2.37289 6.34578 3.16603 5.17279 4.16975 4.16927C5.17328 3.16554 6.34928 2.37241 7.69775 1.78985C9.04623 1.20729 10.4803 0.916016 11.9998 0.916016C13.5315 0.916016 14.9685 1.20729 16.311 1.78985C17.6534 2.37241 18.8264 3.16554 19.8299 4.16927C20.8336 5.17279 21.6268 6.34578 22.2093 7.68822C22.7919 9.03067 23.0832 10.4677 23.0832 11.9993C23.0832 13.5189 22.7919 14.953 22.2093 16.3014C21.6268 17.6499 20.8336 18.8259 19.8299 19.8294C18.8264 20.8332 17.6534 21.6263 16.311 22.2088C14.9685 22.7914 13.5315 23.0827 11.9998 23.0827ZM11.9998 21.3079C12.5952 20.5183 13.0963 19.7218 13.5031 18.9186C13.9099 18.1153 14.2412 17.2373 14.4971 16.2845H9.50259C9.77345 17.2672 10.1086 18.1602 10.508 18.9635C10.9072 19.7667 11.4044 20.5482 11.9998 21.3079ZM9.74059 20.9871C9.29337 20.3454 8.89174 19.6159 8.53571 18.7987C8.17968 17.9812 7.90299 17.1432 7.70563 16.2845H3.748C4.3642 17.4961 5.19059 18.514 6.22717 19.3383C7.26375 20.1623 8.43489 20.7119 9.74059 20.9871ZM14.2591 20.9871C15.5648 20.7119 16.7359 20.1623 17.7725 19.3383C18.8091 18.514 19.6355 17.4961 20.2517 16.2845H16.294C16.0592 17.1506 15.7637 17.9923 15.4077 18.8098C15.0518 19.6272 14.669 20.353 14.2591 20.9871ZM3.01417 14.5345H7.35125C7.27795 14.1009 7.22477 13.6758 7.19171 13.2591C7.15885 12.8426 7.14242 12.4227 7.14242 11.9993C7.14242 11.576 7.15885 11.1561 7.19171 10.7396C7.22477 10.3229 7.27795 9.89779 7.35125 9.46418H3.01417C2.90198 9.86046 2.81603 10.2725 2.75634 10.7003C2.69645 11.128 2.6665 11.5611 2.6665 11.9993C2.6665 12.4376 2.69645 12.8707 2.75634 13.2984C2.81603 13.7262 2.90198 14.1382 3.01417 14.5345ZM9.10096 14.5345H14.8987C14.9718 14.1009 15.0249 13.6795 15.058 13.2704C15.0908 12.8613 15.1073 12.4376 15.1073 11.9993C15.1073 11.5611 15.0908 11.1374 15.058 10.7283C15.0249 10.3192 14.9718 9.89779 14.8987 9.46418H9.10096C9.02785 9.89779 8.97477 10.3192 8.94171 10.7283C8.90885 11.1374 8.89242 11.5611 8.89242 11.9993C8.89242 12.4376 8.90885 12.8613 8.94171 13.2704C8.97477 13.6795 9.02785 14.1009 9.10096 14.5345ZM16.6484 14.5345H20.9855C21.0977 14.1382 21.1836 13.7262 21.2433 13.2984C21.3032 12.8707 21.3332 12.4376 21.3332 11.9993C21.3332 11.5611 21.3032 11.128 21.2433 10.7003C21.1836 10.2725 21.0977 9.86046 20.9855 9.46418H16.6484C16.7217 9.89779 16.7749 10.3229 16.808 10.7396C16.8408 11.1561 16.8573 11.576 16.8573 11.9993C16.8573 12.4227 16.8408 12.8426 16.808 13.2591C16.7749 13.6758 16.7217 14.1009 16.6484 14.5345ZM16.294 7.71418H20.2517C19.6281 6.48763 18.8073 5.46971 17.7894 4.66043C16.7715 3.85135 15.5947 3.29796 14.2591 3.00027C14.7063 3.67927 15.1041 4.42195 15.4526 5.22831C15.8012 6.03447 16.0817 6.8631 16.294 7.71418ZM9.50259 7.71418H14.4971C14.2262 6.73885 13.8856 5.84022 13.4751 5.01831C13.0644 4.19639 12.5727 3.42056 11.9998 2.69081C11.427 3.42056 10.9353 4.19639 10.5246 5.01831C10.1141 5.84022 9.77345 6.73885 9.50259 7.71418ZM3.748 7.71418H7.70563C7.91796 6.8631 8.19845 6.03447 8.54709 5.22831C8.89553 4.42195 9.29337 3.67927 9.74059 3.00027C8.39737 3.29796 7.21874 3.85329 6.20471 4.66627C5.19049 5.47904 4.37159 6.49502 3.748 7.71418Z' fill='white'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
}

@media screen and (max-width:640px) {
                    header {
                        height: 56px;
                    }

                    header .wrapper {
                        margin-right: 0;
                        /* 오른쪽 여백만 삭제 - 메뉴열기 버튼이 오른쪽에 딱 붙게 하기 위함*/
                    }

                    header .logo a img {
                        width: 108px;
                    }

                    header .gnb .gnb_open {
                        display: block; /* none으로 숨겼던 요소를 다른 속성으로 주면 나타난다. */
                        width: 56px;
                        height: 56px;
                        background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_29_2834' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='30' height='30'%3E%3Crect width='30' height='30' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_29_2834)'%3E%3Cpath d='M5.3125 8.75C5.04687 8.75 4.82427 8.6601 4.64469 8.48031C4.4649 8.30052 4.375 8.07781 4.375 7.81219C4.375 7.54635 4.4649 7.32375 4.64469 7.14437C4.82427 6.96479 5.04687 6.875 5.3125 6.875H24.6875C24.9531 6.875 25.1757 6.9649 25.3553 7.14469C25.5351 7.32448 25.625 7.54719 25.625 7.81281C25.625 8.07865 25.5351 8.30125 25.3553 8.48063C25.1757 8.66021 24.9531 8.75 24.6875 8.75H5.3125ZM5.3125 23.125C5.04687 23.125 4.82427 23.0351 4.64469 22.8553C4.4649 22.6755 4.375 22.4528 4.375 22.1872C4.375 21.9214 4.4649 21.6987 4.64469 21.5194C4.82427 21.3398 5.04687 21.25 5.3125 21.25H24.6875C24.9531 21.25 25.1757 21.3399 25.3553 21.5197C25.5351 21.6995 25.625 21.9222 25.625 22.1878C25.625 22.4536 25.5351 22.6763 25.3553 22.8556C25.1757 23.0352 24.9531 23.125 24.6875 23.125H5.3125ZM5.3125 15.9375C5.04687 15.9375 4.82427 15.8476 4.64469 15.6678C4.4649 15.488 4.375 15.2653 4.375 14.9997C4.375 14.7339 4.4649 14.5112 4.64469 14.3319C4.82427 14.1523 5.04687 14.0625 5.3125 14.0625H24.6875C24.9531 14.0625 25.1757 14.1524 25.3553 14.3322C25.5351 14.512 25.625 14.7347 25.625 15.0003C25.625 15.2661 25.5351 15.4888 25.3553 15.6681C25.1757 15.8477 24.9531 15.9375 24.6875 15.9375H5.3125Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");                        background-position: center center;
                        background-repeat: no-repeat;
                    }
                    
                    header .gnb .gnb_wrap ul {
                        display: flex;
                    }
                    
                    header .gnb .gnb_wrap {
                        display: none;
                    }
                    
                    header .tnb {
                        display: none;
                    }
}

.visual {
    background: url(../images/visual_bg.jpg) no-repeat center center / cover;
    color: #fff;
    height: 900px; /* background-color 는 높이를 안주는 편?이라고 함... */
}

.visual h2 {
    font-size: 20px;
    padding: 320px 0 25px 0;

}

.visual p {
    color: #fff;
}

@media screen and (max-width:640px) {
                    .visual {
                        height: auto; /* 높이를 안준 것처럼 - 콘텐츠 길이만큼 늘어남 */
                        padding: 0 0 250px 0;
                    }
                    
                    .visual h2 {
                        font-size: 16px;
                        padding: 248px 0 20px 0;
                    }
                    .visual p br {
                        display: none; /* 줄바꿈 삭제 */
                    }
} /* //@media */

.project {
    margin: 170px 0 0 0;
}

.project .wrapper {
    display: flex; /* tit + list 좌우 배치 */
    justify-content: space-between;
    align-items: flex-start; /* tit의 길이와 list의 높이를 존재하는 만큼만 주기 위해 적용한다. */
}

.project .tit {
    position: sticky; /* 감싸는 태그(wrapper)를 기준으로 무조건 정렬함! */
    top: 40px;
    /* 좌우 정렬값(left, right) 주면 안됨!!!! top값은 상단에 고정되었을 때의 위치값임 

    ★ sticky의 단점 .... ★
            감싸는 요소 중에 단 한 개라도 overflow:hidden; 값을 가지고 있으면
            적용 안됨. 사실상 못쓴다고 생각하면 된다.*/
}

.project .tit h2 {
    color: #014289;
    margin: 0 0 17px 0;
}

.project .list {
    width: calc(52.85%); /* ( list 너비값 ) ÷ (캔버스값) x 100 
                                ( 666 ÷ 1260 ) x 100 */
    margin: 213px 0 0 0;
}

.project .list ul {
    display: flex;
    flex-wrap: wrap; /* 2줄이상 허용 */
    gap: 24px 24px;
}

.project .list ul li {
    width: calc(50% - 12px)
    /* 100% ÷ 한 줄에 보일 li 개수 = 100% ÷ 2 = 50% 
       한줄에 있는 여백의 총합 ÷ 한줄에 보일 li 개수 = 24px ÷ 2 = 12px */
}

.project .list ul li:nth-child(even) { /* even 짝수 */
    transform: translateY(-163px); /* - 가 위로 올라가는 것 ... */
}


.project .list ul li a {
    display: block;
    position: relative; /* txt 정렬의 기준 */
}

.project .list ul li a .photo {
    overflow: hidden;
    border-radius: 25px;
    height: 550px;
    position: relative; /* before 정렬의 기준 */
}

.project .list ul li a .photo::before {
    content: "";
    position: absolute; /* photo를 기준으로 정렬 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #014289;
    opacity: 0;
    transition: 0.3s;
}

.project .list ul li a .photo img {
    /* 이미지를 감싸는 영역 photo 사이즈만큼만 나오게 리사이즈 */
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project .list ul li a .txt {
    position: absolute; /* a를 기준으로 정렬 */
    left: 0;
    bottom: 70px;
    width: 100%;
    color: #fff;
    padding: 0 40px;
}

.project .list ul li a .txt h3 {
    font-family: 'Gmarket Sans';
    font-size: 25px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.05em;
}

.project .list ul li a .txt p {
    display: none;
    margin: 22px 0;
}
.project .list ul li a .txt span {
    display: none;
    /* 숨김 - dispalt"none은 아예 태그가 존재하지 않는 것처럼 코딩됨 */
    color: rgba(255, 255, 255, 0.6);
    padding: 0 32px 0 0;
    position: relative; /* after 정렬의 기준 */
}

.project .list ul li a .txt span::after {
    content: "";
    position: absolute;
    right: 0;
    top: 2px;
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_29_977' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_29_977)'%3E%3Cpath d='M18.6465 12.7405H3.24072C3.02822 12.7405 2.85006 12.6686 2.70622 12.525C2.56256 12.3811 2.49072 12.2029 2.49072 11.9902C2.49072 11.7777 2.56256 11.5996 2.70622 11.456C2.85006 11.3125 3.02822 11.2407 3.24072 11.2407H18.6465L14.3097 6.88872C14.1736 6.75188 14.1023 6.5808 14.096 6.37547C14.0898 6.17014 14.1611 5.99255 14.3097 5.84272C14.4461 5.70539 14.6196 5.63672 14.8302 5.63672C15.0411 5.63672 15.2156 5.70597 15.354 5.84447L20.8675 11.358C20.9611 11.4515 21.0271 11.5506 21.0655 11.6555C21.104 11.7601 21.1232 11.8723 21.1232 11.992C21.1232 12.1116 21.1039 12.2253 21.0652 12.333C21.0264 12.4406 20.9605 12.5406 20.8675 12.633L15.354 18.1465C15.2171 18.2848 15.0461 18.354 14.8407 18.354C14.6356 18.354 14.4586 18.2848 14.3097 18.1465C14.1547 17.9976 14.0788 17.8194 14.082 17.6117C14.0851 17.4041 14.1611 17.2259 14.3097 17.0772L18.6465 12.7405Z' fill='white' fill-opacity='0.6'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
}
/***************** 오버했을 때 ***********************/

.project .list ul li a:hover .photo::before {
    opacity: 0.9; /* hover할때 오퍼시티를 주면서 transition 이 적용된다. */
}

.project .list ul li a:hover .txt p {
    display: block;
}

.project .list ul li a:hover .txt span {
    display: inline-block; /* none으로 숨긴걸 다시 꺼낼 때 흔히 block으로 보이게 함. */
}












footer {
    margin: 1000px 0 0 0;
}