@import url(default.css);
@import url(fonts.css);
@import url(common.css);
@import url(layout.css);


.visual {
    background-color: red;
    color: #fff;
}

.tree {
    background-color: darkolivegreen;
    color: #fff;
}

.work {
    background-color: cornsilk;
}

.story {
    background-color: cornflowerblue;
    color: #fff;
}

footer {
    background-color: #2E3138;
    columns: #fff;
}

.section {
    text-align: center;
    font-size: 50px;
}