@import url(default.css);
@import url(fonts.css);
@import url(common.css);




header {
    z-index: 100;
    position: fixed; /* body 기준으로 정렬 */
    left: 0;
    top: 0;
    width: 100%;
    height: var(--header-h);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 0 60px;
    display: flex; /* logo, gnv, util 좌우배치*/
    justify-content: space-between;
    align-items: center;
    color: #fff;
    transition: 0.5s;
}

header .logo a {
    display: block;
    width: 136px;
    height: 52px;
    background: url(../images/logo_w.png) no-repeat center center / contain;
}

header .util {
    display: flex;
    gap: 20px
}

header .util .lang .lang_open span {
    display: block;
    margin: 9px 43px 0 0;
    position: relative;
    font-weight: var(--bold-weight);
}

header .util .lang .lang_open span::after {
    content: "";
    position: absolute;
    right: -43px;
    top: -7px;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_76_977' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='40' height='40'%3E%3Crect width='40' height='40' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_76_977)'%3E%3Cpath d='M19.9993 23.9977L11.666 16H28.3327L19.9993 23.9977Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}


header .util .search .search_open,
header .util .login .login_open {
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

header .util .search .search_open {
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_76_983' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='40' height='40'%3E%3Crect width='40' height='40' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_76_983)'%3E%3Cpath d='M32.5709 34.295L22.103 23.8267C21.2697 24.5147 20.3113 25.0532 19.228 25.4421C18.1447 25.831 17.024 26.0254 15.8659 26.0254C13.0173 26.0254 10.6065 25.0392 8.63341 23.0667C6.66036 21.0942 5.67383 18.6839 5.67383 15.8358C5.67383 12.9881 6.66008 10.5769 8.63258 8.6025C10.6051 6.62833 13.0154 5.64125 15.8634 5.64125C18.7112 5.64125 21.1223 6.62778 23.0967 8.60083C25.0709 10.5739 26.058 12.9847 26.058 15.8333C26.058 17.0236 25.8583 18.1604 25.4588 19.2438C25.0591 20.3271 24.5259 21.2693 23.8592 22.0704L34.3272 32.5383L32.5709 34.295ZM15.8659 23.5258C18.0134 23.5258 19.8323 22.7806 21.3226 21.29C22.8131 19.7997 23.5584 17.9808 23.5584 15.8333C23.5584 13.6858 22.8131 11.8669 21.3226 10.3767C19.8323 8.88611 18.0134 8.14083 15.8659 8.14083C13.7184 8.14083 11.8995 8.88611 10.4092 10.3767C8.91869 11.8669 8.17341 13.6858 8.17341 15.8333C8.17341 17.9808 8.91869 19.7997 10.4092 21.29C11.8995 22.7806 13.7184 23.5258 15.8659 23.5258Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
header .util .login .login_open {
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_76_980' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='40' height='40'%3E%3Crect width='40' height='40' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_76_980)'%3E%3Cpath d='M20 19.4871C18.3958 19.4871 17.0226 18.916 15.8804 17.7737C14.7379 16.6312 14.1667 15.2579 14.1667 13.6537C14.1667 12.0496 14.7379 10.6764 15.8804 9.53417C17.0226 8.39167 18.3958 7.82042 20 7.82042C21.6042 7.82042 22.9774 8.39167 24.1196 9.53417C25.2621 10.6764 25.8333 12.0496 25.8333 13.6537C25.8333 15.2579 25.2621 16.6312 24.1196 17.7737C22.9774 18.916 21.6042 19.4871 20 19.4871ZM7.5 32.1796V28.4742C7.5 27.6581 7.72167 26.9022 8.165 26.2067C8.60833 25.5111 9.20083 24.9764 9.9425 24.6025C11.5897 23.795 13.2515 23.1893 14.9279 22.7854C16.6043 22.3815 18.295 22.1796 20 22.1796C21.705 22.1796 23.3957 22.3815 25.0721 22.7854C26.7485 23.1893 28.4103 23.795 30.0575 24.6025C30.7992 24.9764 31.3917 25.5111 31.835 26.2067C32.2783 26.9022 32.5 27.6581 32.5 28.4742V32.1796H7.5ZM10 29.6796H30V28.4742C30 28.1367 29.9022 27.8242 29.7067 27.5367C29.5111 27.2494 29.2457 27.015 28.9104 26.8333C27.4743 26.1261 26.0101 25.5903 24.5179 25.2258C23.0254 24.8617 21.5194 24.6796 20 24.6796C18.4806 24.6796 16.9746 24.8617 15.4821 25.2258C13.9899 25.5903 12.5257 26.1261 11.0896 26.8333C10.7543 27.015 10.4889 27.2494 10.2933 27.5367C10.0978 27.8242 10 28.1367 10 28.4742V29.6796ZM20 16.9871C20.9167 16.9871 21.7014 16.6607 22.3542 16.0079C23.0069 15.3551 23.3333 14.5704 23.3333 13.6537C23.3333 12.7371 23.0069 11.9524 22.3542 11.2996C21.7014 10.6468 20.9167 10.3204 20 10.3204C19.0833 10.3204 18.2986 10.6468 17.6458 11.2996C16.9931 11.9524 16.6667 12.7371 16.6667 13.6537C16.6667 14.5704 16.9931 15.3551 17.6458 16.0079C18.2986 16.6607 19.0833 16.9871 20 16.9871Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}



/**** 아래로 스크롤 내릴 때 header가 사라짐 ****/

header.fixed.gnb_up {
    top: var(--header-h-m);
}

header.fixed.gnb_up.menu_over {
    top: 0;
}


/* ###############  header fixed 추가 #############*/

header.fixed,
header.menu_over {
    background-color: #fff;
    color: var(--tit-color);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
}

header.fixed .logo a,
header.menu_over .logo a {
    background: url(../images/logo_w.png) no-repeat center center / contain;
    background-image: url(../images/logo.png);
}

header.fixed .util .lang .lang_open span::after,
header.menu_over .util .lang .lang_open span::after {
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_76_932' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='40' height='40'%3E%3Crect width='40' height='40' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_76_932)'%3E%3Cpath d='M19.9993 23.9977L11.666 16H28.3327L19.9993 23.9977Z' fill='%231D1D1D'/%3E%3C/g%3E%3C/svg%3E%0A");
}

header.fixed .util .search .search_open,
header.menu_over .util .search .search_open {
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_76_923' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='40' height='40'%3E%3Crect width='40' height='40' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_76_923)'%3E%3Cpath d='M32.5709 34.295L22.103 23.8267C21.2697 24.5147 20.3113 25.0532 19.228 25.4421C18.1447 25.831 17.024 26.0254 15.8659 26.0254C13.0173 26.0254 10.6065 25.0392 8.63341 23.0667C6.66036 21.0942 5.67383 18.6839 5.67383 15.8358C5.67383 12.9881 6.66008 10.5769 8.63258 8.6025C10.6051 6.62833 13.0154 5.64125 15.8634 5.64125C18.7112 5.64125 21.1223 6.62778 23.0967 8.60083C25.0709 10.5739 26.058 12.9847 26.058 15.8333C26.058 17.0236 25.8583 18.1604 25.4588 19.2438C25.0591 20.3271 24.5259 21.2693 23.8592 22.0704L34.3272 32.5383L32.5709 34.295ZM15.8659 23.5258C18.0134 23.5258 19.8323 22.7806 21.3226 21.29C22.8131 19.7997 23.5584 17.9808 23.5584 15.8333C23.5584 13.6858 22.8131 11.8669 21.3226 10.3767C19.8323 8.88611 18.0134 8.14083 15.8659 8.14083C13.7184 8.14083 11.8995 8.88611 10.4092 10.3767C8.91869 11.8669 8.17341 13.6858 8.17341 15.8333C8.17341 17.9808 8.91869 19.7997 10.4092 21.29C11.8995 22.7806 13.7184 23.5258 15.8659 23.5258Z' fill='%231D1D1D'/%3E%3C/g%3E%3C/svg%3E%0A");
}

header.fixed .util .login .login_open,
header.menu_over .util .login .login_open {
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_76_929' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='40' height='40'%3E%3Crect width='40' height='40' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_76_929)'%3E%3Cpath d='M20 19.4871C18.3958 19.4871 17.0226 18.916 15.8804 17.7737C14.7379 16.6312 14.1667 15.2579 14.1667 13.6537C14.1667 12.0496 14.7379 10.6764 15.8804 9.53417C17.0226 8.39167 18.3958 7.82042 20 7.82042C21.6042 7.82042 22.9774 8.39167 24.1196 9.53417C25.2621 10.6764 25.8333 12.0496 25.8333 13.6537C25.8333 15.2579 25.2621 16.6312 24.1196 17.7737C22.9774 18.916 21.6042 19.4871 20 19.4871ZM7.5 32.1796V28.4742C7.5 27.6581 7.72167 26.9022 8.165 26.2067C8.60833 25.5111 9.20083 24.9764 9.9425 24.6025C11.5897 23.795 13.2515 23.1893 14.9279 22.7854C16.6043 22.3815 18.295 22.1796 20 22.1796C21.705 22.1796 23.3957 22.3815 25.0721 22.7854C26.7485 23.1893 28.4103 23.795 30.0575 24.6025C30.7992 24.9764 31.3917 25.5111 31.835 26.2067C32.2783 26.9022 32.5 27.6581 32.5 28.4742V32.1796H7.5ZM10 29.6796H30V28.4742C30 28.1367 29.9022 27.8242 29.7067 27.5367C29.5111 27.2494 29.2457 27.015 28.9104 26.8333C27.4743 26.1261 26.0101 25.5903 24.5179 25.2258C23.0254 24.8617 21.5194 24.6796 20 24.6796C18.4806 24.6796 16.9746 24.8617 15.4821 25.2258C13.9899 25.5903 12.5257 26.1261 11.0896 26.8333C10.7543 27.015 10.4889 27.2494 10.2933 27.5367C10.0978 27.8242 10 28.1367 10 28.4742V29.6796ZM20 16.9871C20.9167 16.9871 21.7014 16.6607 22.3542 16.0079C23.0069 15.3551 23.3333 14.5704 23.3333 13.6537C23.3333 12.7371 23.0069 11.9524 22.3542 11.2996C21.7014 10.6468 20.9167 10.3204 20 10.3204C19.0833 10.3204 18.2986 10.6468 17.6458 11.2996C16.9931 11.9524 16.6667 12.7371 16.6667 13.6537C16.6667 14.5704 16.9931 15.3551 17.6458 16.0079C18.2986 16.6607 19.0833 16.9871 20 16.9871Z' fill='%231D1D1D'/%3E%3C/g%3E%3C/svg%3E%0A");
}



@media screen and (min-width:1025px) { /* pc */

                header .gnb .gnb_bg,
                header .gnb .gnb_util,
                header .gnb .gnb_open,
                header .gnb .gnb_close {
                    display: none;
                }

                header .gnb .gnb_wrap ul.depth1 {
                    display: flex;
                }
                
                header .gnb .gnb_wrap ul.depth1 > li {
                    width: 173px;
                    text-align: center;
                    position: relative;
                }
                
                header .gnb .gnb_wrap ul.depth1 > li > a {
                    display: block;
                    line-height: var(--header-h);
                    height: var(--header-h);
                    font-size: 22px;
                    font-weight: var(--bold-weight);
                }

                
                header .gnb .gnb_wrap ul.depth1 > li.over > a {
                    color: var(--point-color);
                }

                header .gnb .gnb_wrap ul.depth1 > li.over > a > span {
                    position: relative;
                }

                header .gnb .gnb_wrap ul.depth1 > li.over > a > span::after {
                    z-index: 5;
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: -47px;
                    width: 100%;
                    height: 3px;
                    background-color: var(--point-color);
                }

                
                header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
                    font-family: 'Pretendard';
                    position: absolute;
                    left: 0;
                    top: var(--header-h);
                    width: 100%;
                    padding: 30px 0 0 0;
                
                    display: none;
                }
                
                header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
                    display: block;
                    color: var(--tit-color);
                    line-height: 2;
                }
                
                header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:hover {
                    font-weight: var(--bold-weight);
                    color: var(--point-color);
                }

                /* ############## menu_over 추가 ############### */

                header.menu_over::before {
                    z-index: -1;
                    content: "";
                    position: absolute; /* header를 기준으로 정렬 */
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 427px;
                    background-color: #fff;
                    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
                }

                header.menu_over::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: var(--header-h);
                    width: 100%;
                    height: 1px;
                    background: rgba(0, 0, 0, 0.2);
                }


                header.menu_over .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
                    display: block;
                }

} /* // @media - pc */













.visual {
    position: relative; /* visual_item 정렬의 기준 */
}

.visual .swiper-slide .photo {
    overflow: hidden;
    height: 100dvh; /* 모바일까지 고려한 브라우저 높이 100% */
    min-height: 700px; /* 최소높이 700px... */
}

.visual .swiper-slide .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.visual .visual_item {
    z-index: 1;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 42%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.visual .visual_item .tit_wrap {
    color: #fff;
    text-align: center;
}

.visual .visual_item .tit_wrap h3 {
    font-size: var(--visual-font-size);
    font-weight: var(--bold-weight);
    margin: 0 0 36px 0;
}

.visual .visual_item .ctrl_wrap button {
    display: block;
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
}

.visual .visual_item .ctrl_wrap button.button-stop {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_76_999' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='30' height='30'%3E%3Crect width='30' height='30' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_76_999)'%3E%3Cpath d='M17.5 22.5V7.5H21.875V22.5H17.5ZM8.125 22.5V7.5H12.5V22.5H8.125Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");

}

.visual .visual_item .ctrl_wrap button.button-play {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_76_1003' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='30' height='30'%3E%3Crect x='30' y='30' width='30' height='30' transform='rotate(-180 30 30)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_76_1003)'%3E%3Cpath d='M10.6248 7.37999L22.5957 15L10.6248 22.62L10.6248 7.37999Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    display: none;
}

.visual .main_reservation {
    z-index: 1;
    position: absolute;
    bottom: 58px;
    left: 0;
    width: 100%;
    height: 96px;
}
.visual .main_reservation .wrapper {
    width: 100%;
    padding: 0 60px;
}

.visual .main_reservation .reserv_box {
    width: 100%;
    height: 96px;
    padding: 19px 155px 22px 155px;
    background-color: #fff;
}

input {
    border-width: inherit;
    border-style: none;
    border-color: inherit;
}

.visual .reserv_box .date h2 {
    font-weight: var(--bold-weight);
    color: var(--point-color);
}



.pakege {
    margin: 170px 0 200px 0;
}

.pakege .wrapper {
    display: flex;
    justify-content: space-between;
}

.pakege .tit {
    margin: 0 0 100px 0;
}

.pakege .tit h2 {
    font-size: var(--h2-font-size);
    font-weight: var(--bold-weight);
}

.pakege .tit h2 span {
    color: var(--point-color);
}

.pakege .list {
    position: relative;
    left: calc(50% - 630px);
    width: calc(50% + 630px - 24px);
}

.pakege .list_ctrl {
    display: flex;
    gap: 26px;
    margin: 14px 0 0 0;
}

.pakege .list_ctrl .btn_prev,
.pakege .list_ctrl .btn_next,
.pakege .list_ctrl .more {
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50px;
    background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_76_1076' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='50' height='50'%3E%3Crect x='50' y='50' width='50' height='50' transform='rotate(-180 50 50)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_76_1076)'%3E%3Cpath d='M14.418 23.9582L39.582 23.9583L39.582 26.0416L14.418 26.0416L26.4852 38.1088L24.9987 39.5833L10.4154 24.9999L24.9987 10.4166L26.4852 11.8911L14.418 23.9582Z' fill='%237E6956'/%3E%3C/g%3E%3C/svg%3E%0A");
}

.pakege .list_ctrl .btn_next {
    transform: rotate(180deg);
}

.pakege .list_ctrl .more {
    display: block;
    background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_76_1082' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='50' height='50'%3E%3Crect width='50' height='50' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_76_1082)'%3E%3Cpath d='M23.957 41.6666V26.0416H8.33203V23.9583H23.957V8.33325H26.0404V23.9583H41.6654V26.0416H26.0404V41.6666H23.957Z' fill='%237E6956'/%3E%3C/g%3E%3C/svg%3E%0A");
}



@media screen and (max-width:1300px){ /* wrapper의 제한이 사라지는 사이즈 */

    .pakege .list {
        left: 20px;
        width: calc(100% - 40px); /* 양옆의 20px을 뺀다 */
    }

} /* @media */


.pakege .list ul .swiper-slide {
    width: 404px;
}

.pakege .list ul .swiper-slide a {
    display: block;
}

.pakege .list ul .swiper-slide a .photo {
    overflow: hidden;
    height: 308px;
}

.pakege .list ul .swiper-slide a .photo img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.pakege .list ul .swiper-slide a h3 {
    font-size: var(--h4-font-size);
    font-weight: var(--bold-weight);
    color: var(--tit-color);
    margin: 23px 0 0 0;
}

.pakege .list ul .swiper-slide a span,
.pakege .list ul .swiper-slide a strong {
    font-family: 'Pretendard';
}

.pakege .list ul .swiper-slide a strong {
    display: block;
    margin: 25px 0 0 0;
}









.event {
    margin: 0 0 340px 0;
}

.event .inner {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
    padding-left: 55%;
}

.event .tit {
    padding: 135px 0 0 0;
    max-width: 609px;
    text-align: center;
}

.event .tit .txt h2 {
    font-size: var(--h2-font-size);
    font-weight: var(--bold-weight);
}

.event .tit .txt h2 span {
    color: var(--point-color);
}

.event .tit .more a {
    display: inline-block;
    padding: 20px 99px;
    margin: 93px 0 0 0;
    border: 1px solid var(--point-color);
    color: var(--point-color);
}

.event .tit .more a:hover {
    border: 1px solid var(--point-color);
    background-color: var(--point-color);
    color: #fff;
}

.event .list {
    position: absolute;
    top: 0;
    left: 0;
    width: 55%;
    max-width: 981px;
    height: 100%;
    box-sizing: border-box;
}

.event .list ul {
    display: flex;
    gap: 9px;
}

.event .list ul li .photo {
    overflow: hidden;
    height: 563px;
}

.event .list ul li .photo img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}







.room {
    margin: 0 0 170px 0;
}

.room .tit {
    display: flex;
    justify-content: space-between;
    margin: 0 0 66px 0;
}

.room .tit .txt h2 {
    font-size: var(--h2-font-size);
    font-weight: var(--bold-weight);
}

.room .tit .txt h2 span {
    color: var(--point-color);
}


.room .tit .more {
    margin: 14px 0 0 0;
    display: block;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50px;
    background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_76_1114' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='50' height='50'%3E%3Crect width='50' height='50' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_76_1114)'%3E%3Cpath d='M23.957 41.6666V26.0416H8.33203V23.9583H23.957V8.33325H26.0404V23.9583H41.6654V26.0416H26.0404V41.6666H23.957Z' fill='%237E6956'/%3E%3C/g%3E%3C/svg%3E%0A");
}

.room .list ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 198px;
    border-top: 1px solid #D9D9D9;

}

.room .list ul li.over {
    border-color: transparent;
    color: #fff;
}

.room .list ul li.over {
    background-image: url(../images/room_01.jpg);
}

.room .list ul li.super.over {
    background-image: url(../images/room_02.jpg);
}

.room .list ul li.deluxe.over {
    background-image: url(../images/room_03.jpg);
}

.room .list ul li.suite.over {
    background-image: url(../images/room_04.jpg);
}


.room .list ul li a {
    display: block;
}
.room .list .room_type {
    display: flex;
    gap: 30px;
    margin: 0 0 25px 0;
}
.room .list .room_type strong {
    font-size: var(--h3-font-size);
    font-family: var(--bold-weight);
}

.room .list .room_type span {
    padding: 25px 0 0 0;
}

.room .list .room_sub {
    display: flex;
    font-weight: 700;
    gap: 47px;
}

.room .list .room_sub span {
    position: relative;
}

.room .list .room_sub span::after {
    content: "";
    position: absolute;
    right: -19px;
    top: 7px;
    width: 1px;
    height: 12px;
    background-color: #D9D9D9;

}

.room .list .room_sub span:last-child::after {
    display: none;
}






.other .tit {
    margin: 0 0 76px 0;
}

.other .tit h2 {
    font-size: var(--h2-font-size);
    font-weight: var(--bold-weight);
}

.other   .tit h2 span {
    color: var(--point-color);
}







footer {
    padding: 500px 0;
    background-color: #262222;
}