/* 모든 페이지에 공통으로 들어가는 기본 스타일 */
html, body {
    font-family: "Kaisei Decol", "Pretendard", "sans-serif";
    /* 우선적으로 앞에 쓴 서체를 적용하고 지원이 안되면 두번째 서채를 적용한다. */
    font-size: 17px;
    font-weight: 400;
    line-height: 1.5; /* 단위는 배수로 한다. */
    color: #555;
    word-break: keep-all; /* 단어별 줄바꿈(스페이스 기준)*/
    word-wrap: break-word; /* 단어가 너무 긴 경우 강제로 줄바꿈 */
}

.wrapper {
    width: 1260px;
    margin: 0 auto; /* 가운데 */
}

#wrap {
    position: relative; /* header 정렬의 기준 */
    overflow-x: hidden; /* 25-05-26 - 가로스크롤바 삭제*/
    width: 100%;
}

@media screen and (max-width:768px) {     /* 25.05.07 - 브라우저 넓이가 768px 이하에서만 작동 */
    html, body {
        font-size: 16px;
    }
}

@media screen and (max-width:1300px) { /* 20+20 = 40 + 1260 = 1300 */
    .wrapper {
        width: auto;
        margin: 0 20px;
    }

}


/* 글자를 숨겨야하는 경우 blind 클래스를 적용 */
.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    color: transparent;
}


body {
    background-color: #fff;
}


.skip_nav {
    z-index: 1000; /* 맨 위 */
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.skip_nav a {
    display: block;
    background-color: aqua;
    text-align: center;
    padding: 10px 0;
    color: #1d1d1d;
    position: absolute;
    left: 0;
    top: -1000px;
    width: 100%;
}

.skip_nav a:focus {
    top: 0;
}



/* css의 변수 */
:root {
    --header-h: 120px; /* header의 높이 */
    --header-h-m: -120px; /* header 높이의 마이너스값*/
    --tit-color: #1b1b1b;
    --point-color: #7E6956;
    --base-color: #7B6464;
    --bold-weight: 700;
    --tit-font-size: 65px; /* 45(pc용 타이틀 기존폰트 크기) ÷ 17(pc용 기존폰트 크기) = 2.647.. 반올림가능 */
    --tit-line-height: 1.2;
    --tit-ico: url("data:image/svg+xml,%3Csvg width='17' height='16' viewBox='0 0 17 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 6.35727C0 6.57842 0.0341828 6.80762 0.1282 7.02476C0.54273 7.98981 1.59829 8.58492 2.94017 8.08229C3.26068 7.96166 12.1367 4.59605 12.1367 4.59605C12.1367 4.59605 8.64102 12.9357 8.50854 13.2453C8 14.4396 8.61111 15.5212 9.64957 15.8831C9.88034 15.9635 10.1197 16.0037 10.3547 15.9997C11.2051 15.9957 11.953 15.5252 12.3205 14.5843C12.3761 14.4436 16.7479 3.14848 16.8419 2.87907C16.8974 2.71822 17 2.34025 17 2.07888C17 1.51995 16.7821 0.993197 16.359 0.595114C15.9444 0.201052 15.3889 0 14.8034 0C14.5171 0 14.2863 0.0482525 13.9359 0.1528C13.7265 0.217136 2.45726 4.16178 1.49573 4.49955C0.534188 4.83731 -2.34741e-06 5.5611 0.00427116 6.35727' fill='%23ED1C24'/%3E%3C/svg%3E%0A");
}

@media screen and (max-width:1024px) {
    :root {
        --header-h: 56px; /* 모바일 header의 높이 */
        --header-h-m: -56px; /* 모바일 header 높이의 마이너스값*/
        --tit-font-size: 2.05rem /* pc와 모바일 중간치 크기 35?  :: 35 ÷ 17 = 2.058... */
    }
}

@media screen and (max-width:768px) {
    :root {
        --tit-font-size: 1.47rem; /* 25px(모바일용 타이틀 기존폰트 크기) ÷ 16 (모바일용 기존폰트 크기)*/
    }
}