/* 회사소개 - CEO 인사말 */

.ctn_ceo {
    position: relative; /* before 정렬의 기준 (백그라운드 색을 아래에 깔 목적)*/
}

.ctn_ceo::before {
    z-index: -1;
    content: "";
    position: absolute;
    left: 2.68em; /* 45 ÷ 17 = 2.6470 */
    top: 0;
    width: calc(100% - 5.36em);
    height: 20.59em; /* 350 ÷ 17 = 20.588..*/
    background-color: #F3F4F8;
    border: 20px;
    border-radius: 20px;
}

.ctn_ceo .wrapper {
    position: relative; /* ceo_photo 정렬의 기준 */ 
}

.ctn_ceo .ceo_tit {
    padding: 4.41em 0 0 50.95%; /* 75 ÷ 17 = 4.41 .. / 642 ÷ 17 = 37.76... (x)
        642(wrapper에 닿기까지의 거리) ÷ 1260(wrapper크기) x 100 = 50.952...%*/
}

.ctn_ceo .ceo_tit strong {
    display: block;
    color: var(--point-color);
}

.ctn_ceo .ceo_tit h2 {
    font-size: 1.76rem; /* 30 ÷ 17 = 1.764..*/
    color: var(--tit-color);
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    margin: 0.5em 0 0.77em; /* 15 ÷ 30 , 23 ÷ 30  */
}

.ctn_ceo .photo { /******************************************************************/
    position: absolute;
    left: 10.95%;
    top: 7.76em; /* 132 ÷ 17 = */
    width: 32.22%; /* 404 ÷ 17 = 23.764em < 이걸로 하지 않음!!! 
    406(사진width크기) ÷ 1260(wrapper크기) x 100 = 32.22% */
    height: 47.06em; /* 800 ÷ 17 = 47.058 */
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 14px 7px 44px rgba(0, 0, 0, 0.2);
}

.ctn_ceo .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ctn_ceo .ceo_detail {
    margin: 8.17em 0 10.53em 50.95%; /* 139 ÷ 17 = 8.176 , 179 ÷ 17 = 10.529...*/
}

.ctn_ceo .ceo_detail .sign {
    display: flex;
    align-items: center;
    margin: 4.24em 0 0 0; /* 72 ÷ 17 = 4.2352.. */
    gap: 2.06em; /* 35 ÷ 17 = 2.058 */
}

.ctn_ceo .ceo_detail .sign strong {
    font-weight: var(--bold-weight);
}



@media screen and (max-width:1400px) {

            .ctn_ceo .wrapper {
                margin: 0 20px
            }

            .ctn_ceo .ceo_tit {
                padding-left: 47%; /* 50.95% -> 47? 임의부여 */
                padding-right: 1.77em; /* 옆 줄이 거슬려서... 30 ÷ 17 = 1.764 */
            }

            .ctn_ceo .ceo_detail {
                margin-left: 47%; /* 50.95% -> 47? */
            }
            
}

@media screen and (max-width:768px) {

    .ctn_ceo::before {
        left: 20px; /* wrapper에게 줬던 여백을 부여 */
        width: calc(100% - 40px); /* left의 양옆값을 뺀다 */
        height: 20.59em; /* 350 ÷ 17 = 20.588..*/
        border-radius: 20px;
    }
    
    .ctn_ceo .wrapper {
        margin: 0 20px 
    }

    .ctn_ceo .ceo_tit {
        background-color: #F3F4F8;
        border-radius: 10px;
        padding: 4.38em 0.94em 5.31em 0.94em; /* 70px 15px 85px 15px; ÷ 16 */
    }
    

    .ctn_ceo .ceo_tit strong {
        font-size: 1.13rem; /* 18 ÷ 16 = 1.125 */
    }
    
    .ctn_ceo .ceo_tit h2 {
        font-size: 1.56rem; /* 25 ÷ 16 = 1.56..*/
        margin: 0.84em 0 1.4em 0; /* 21 ÷ 25 , 35 ÷ 25  */
    }
    

    .ctn_ceo .photo {
        position: relative;
        left: auto;
        top: auto;
        width: 100%;
        max-width: 412px;
        height: 30.88em; /* 494 ÷ 16 = 30.875 */
        margin: 0.63em auto 0 auto; /* 10px ÷ 16 = 0.625 */
        border-radius: 15px;
        box-shadow: 7px 3px 22px rgba(0, 0, 0, 0.2);
    }
    
    .ctn_ceo .photo img {
        object-position: center top;
    }
    
    .ctn_ceo .ceo_detail {
        margin: 1.88em 0 2em 0; /* 30 ÷ 16 */
    }
    
    .ctn_ceo .ceo_detail .sign {

        flex-direction: column;
        align-items: flex-start;
        gap: 0;

        margin: 4.24em 0 0 0; /* 72 ÷ 17 = 4.2352.. */
    }
    
    .ctn_ceo .ceo_detail .sign strong {
        font-weight: var(--bold-weight);
    }
    
}



/********* 회사소개 - 찾아오시는길 css ***********/

.ctn_map .map {
    position: relative;
    width: calc(50% + 630px);
    left: calc(50% - 630px);
}

.ctn_map iframe {
    width: 100%;
    height: 32.35em; /* 550 ÷ 17 = 32.352 */
    border: 0;
}

@media screen and (max-width:1300px) {

        .ctn_map .map {
            left: 20px;
            width: calc(100% - 20px);

        }
}

.ctn_map .tit_map {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.ctn_map .tit_map strong {
    font-size: 30px;
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    color: var(--tit-color);
}

.ctn_map .tit_map {
    margin: 75px 0 75px 0;
}

.ctn_map .tit_map .inner_map {
    display: flex;
    gap: 50px;
}

.ctn_map .tit_map .inner_map .kakao_map,
.ctn_map .tit_map .inner_map .never_map {
    display: inline-block;
    font-size: 20px;
    border: 1px solid #555;
    border-radius: 50px;
    padding: 17px 25px 16px 76px;
    position: relative;
}

.ctn_map .tit_map .inner_map .kakao_map::before {
    content: "";
    position: absolute;
    left: 10px;
    top: 7px;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='25' cy='25' r='25' fill='%23F9E000'/%3E%3Cpath d='M24.9983 8.00115C18.3669 7.99657 13.0099 13.3625 13 20.0018C12.9955 23.0121 14.2244 25.5836 16.0766 27.7765C19.4546 31.7756 22.41 35.9866 24.0236 41.0408C24.1694 41.4971 24.3863 42.0154 25.0099 41.9996C25.6882 41.9823 25.8705 41.4016 26.0315 40.91C27.5458 36.2854 30.0757 32.2899 33.2725 28.6616C35.1729 26.5047 36.6968 24.0195 36.9525 21.1003C37.5759 13.9862 31.9878 7.90383 24.9983 8.00115ZM29.0769 20.1156C29.0608 22.3122 27.1395 24.2336 24.9791 24.2138C22.8002 24.1939 20.9075 22.2661 20.916 20.0759C20.9244 17.888 22.8459 15.969 25.0186 15.9792C27.1872 15.9891 29.0928 17.9316 29.0769 20.1155V20.1156Z' fill='%23007DFD'/%3E%3C/svg%3E%0A");
}

.ctn_map .tit_map .inner_map .never_map::before {
    content: "";
    position: absolute;
    left: 10px;
    top: 7px;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='25' cy='25' r='25' fill='%236BBC44'/%3E%3Cg clip-path='url(%23clip0_187_403)'%3E%3Cpath d='M36 15V36H28.6176L21.3824 25.4278V36H14V15H21.3824L28.6176 25.9972V15H36Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_187_403'%3E%3Crect width='22' height='21' fill='white' transform='translate(14 15)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}

.ctn_map .bus,
.ctn_map .contact {
    display: flex;
    border-top: 2px solid #555;
    padding: 55px 0 0 0;
}

.ctn_map .bus .sub_tit,
.ctn_map .contact .sub_tit {
    display: block;
    width: 321px;
    font-size: 30px;
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    color: var(--tit-color);
}

.ctn_map .bus ul li,
.ctn_map .contact ul li {
    padding: 22px 0;
    width: 100%
}

.ctn_map .bus ul li:first-child,
.ctn_map .contact ul li:first-child {
    padding-top: 0;
}

.ctn_map .bus ul li strong,
.ctn_map .contact ul li strong {
    display: inline-block;
    font-size: 25px;
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    color: var(--tit-color);
    width: 152px;
}

.ctn_map .contact ul li a {
    display: inline-block;
    font-size: 20px;
    padding: 5px 52px 4px 20px;
    border: 1px solid #555;
    border-radius: 30px;
    margin: 21px 0 75px 0;
    position: relative;
}

.ctn_map .contact ul li a::after {
    content: "";
    position: absolute;
    right: 20px;
    top: 8px;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_182_383' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_182_383)'%3E%3Cpath d='M5.30775 20.5C4.80258 20.5 4.375 20.325 4.025 19.975C3.675 19.625 3.5 19.1974 3.5 18.6923V5.30775C3.5 4.80258 3.675 4.375 4.025 4.025C4.375 3.675 4.80258 3.5 5.30775 3.5H11.6152V5H5.30775C5.23075 5 5.16025 5.03208 5.09625 5.09625C5.03208 5.16025 5 5.23075 5 5.30775V18.6923C5 18.7693 5.03208 18.8398 5.09625 18.9038C5.16025 18.9679 5.23075 19 5.30775 19H18.6923C18.7693 19 18.8398 18.9679 18.9038 18.9038C18.9679 18.8398 19 18.7693 19 18.6923V12.3848H20.5V18.6923C20.5 19.1974 20.325 19.625 19.975 19.975C19.625 20.325 19.1974 20.5 18.6923 20.5H5.30775ZM9.71925 15.3345L8.6655 14.2808L17.9462 5H14V3.5H20.5V10H19V6.05375L9.71925 15.3345Z' fill='%23555555'/%3E%3C/g%3E%3C/svg%3E%0A");
}

.ctn_map .bus {
    padding-bottom: 100px;
}

@media screen and (max-width:1100px) {

            .ctn_map .tit_map {
                display: block;
            }
            .ctn_map .tit_map .inner_map {
                margin: 30px 0 0 0;
            }

            .ctn_map .bus,
            .ctn_map .contact {
                display: block;
                border-top: 2px solid #555;
                padding: 55px 0 0 0;
            }

            .ctn_map .bus {
                padding-bottom: 100px;
            }

            .ctn_map .bus .list,
            .ctn_map .contact .list {
                margin: 30px 0 0 0;
            }

            .ctn_map .bus ul li,
            .ctn_map .contact ul li {
                padding: 12px 0;
            }
}

@media screen and (max-width:768px) {

    .ctn_map .tit_map strong {
        font-size: 25px;
    }
    
    .ctn_map .tit_map {
        margin: 45px 0 45px 0;
    }
    
    .ctn_map .tit_map .inner_map {
        gap: 40px;
    }
    
    .ctn_map .tit_map .inner_map .kakao_map,
    .ctn_map .tit_map .inner_map .never_map {
        font-size: 18px;
        padding: 12px 20px 12px 70px;
    }
    
    .ctn_map .tit_map .inner_map .kakao_map::before {
        left: 3px;
        top: 0;
        background-size: 40px;
    }
    
    .ctn_map .tit_map .inner_map .never_map::before {
        left: 3px;
        top: 0;
        background-size: 40px;
    }
    
    .ctn_map .bus,
    .ctn_map .contact {
        display: block;
    }
    
    .ctn_map .bus ul li,
    .ctn_map .contact ul li {
        padding: 17px 0;
        width: 100%
    }
    
    .ctn_map .bus ul li strong,
    .ctn_map .contact ul li strong {
        display: inline-block;
        font-size: 20px;
        width: 100px;
    }
    
    .ctn_map .contact ul li a {
        display: inline-block;
        font-size: 17px;
        padding: 5px 52px 4px 20px;
        border: 1px solid #555;
        border-radius: 30px;
        margin: 21px 0 75px 0;
        position: relative;
    }
    
    .ctn_map .contact ul li a::after {
        background-size: 20px;
        top: 7px;
    }
    
    .ctn_map .bus {
        padding-bottom: 80px;
    }
    
}

@media screen and (max-width:476px) {
    .ctn_map .tit_map {
        flex-direction: column;
    }
}





/* ######   회사소개 >   연혁 ####### */

.ctn_history {
    margin: 0 0 18.65em 0; /* 317 ÷ 17 = 18.647 */
}

.ctn_history .his_tit {
    margin: 0 0 3.24em 0;  /* 55 ÷ 17 = 3.235.. */
}

.ctn_history .his_tit strong {
    font-size: 1.29em; /* 22 ÷ 17 = 1.294*/
    display: block;
    color: var(--point-color);
}

.ctn_history .his_tit h2 {
    font-size: 2.06em; /* 35 ÷ 17 = 2.058 */
    font-weight: var(--bold-weight);
    color: var(--tit-color);
    line-height: var(--tit-line-height);
    margin: 0.46em 0 0 0; /* 16 ÷ 35 = 0.4571 */
}

.ctn_history .his_photo .photo {
    overflow: hidden;
    height: 29.41em; /* 500 ÷ 17 = 29.41 */
    width: 40%;
    margin: 0 auto;
    transition: 0.5s;
}

.ctn_history .his_photo.active .photo {
    width: 100%;
}

.ctn_history .his_photo .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ctn_history .his_year_group {
    margin: 6.59em 0; /* 112 ÷ 17 = 6.588 */
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.ctn_history .his_year_group .yesr_tit {
    max-width: 404px;  /* ##테스트 필요!## */
    width: 35%;
    min-width: 200px;
}


.ctn_history .his_year_group .year_cont {
    max-width: 697px;   /* ##테스트 필요!## */
    width: 60%;
    padding: 1.94em 0 0 2.88em; /* 33 ÷ 17 = 1.941 / 49 ÷ 17 = 2.882... */
    border-width: 0 0 0 2px;
    border-style: solid; 
    border-color: #D9D9D9;
    position: relative; /*  */
}

.ctn_history .his_year_group .year_cont::before {
    content: "";
    position: absolute;
    left: -2px; /* 선 두께만큼 옆으로 이동해야함 */
    top: 0;
    width: 2px;
    height: 54px;
    background-color: #fff;
}


.ctn_history .his_year_group .yesr_tit h3 {
    font-size: var(--tit-font-size); /* 45px */
    color: var(--tit-color);
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    margin: 0 0 0.56em 0; /* 25 ÷ 45 */
}

.ctn_history .his_year_group .yesr_tit .photo {
    overflow: hidden;
    margin: 2.65em 0 0 0;
    border-radius: 20px;
}

.ctn_history .his_year_group .yesr_tit .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ctn_history .his_year_group .year_cont h4 {
    font-size: 1.76rem; /* 30 ÷ 17 = 1.764 */
    font-weight: var(--bold-weight);
    color: var(--tit-color);
    line-height: var(--tit-line-height);
    margin: 0 0 0.5em 0;

    /*
    margin: 1.47em 0 3.76em 0;  
            25 ÷ 17 = 1.470 //  132 ÷ 17 = 7.764  ..인데 너무커서 3으로 변경 */

    position: relative; /* before */
}

.ctn_history .his_year_group .year_cont h4::before {
    z-index: 10;
    content: "";
    position: absolute;
    left: -1.8em; /* 49 ÷ 30 = 1.63... 인데 안맞아서 웹에서 조정*/
    top: 0.5em; /* 15 ÷ 30 = 0.5*/
    width: 0.27em; /* 8 ÷ 30 = 0.266.. */
    height: 0.27em;
    background-color: #4A4A4A;
    border-radius: 50%;
}

.ctn_history .his_year_group .year_cont ul + h4 {
    margin-top: 2.76em;
}

.ctn_history .his_year_group .year_cont > *:last-child {
    position: relative;
}

.ctn_history .his_year_group .year_cont > *:last-child::before {
    content: "";
    position: absolute;
    left: -3em; /* -51px ÷ 17 = 3 */
    bottom: -2.53em; /* -9px ÷ 17 = 0.529 */
    width: 2px;
    height: calc(100% + 75px);
    background-color: #fff;
}

.ctn_history .his_year_group .year_cont ul li {
    display: flex;
    justify-content: space-between;
    margin: 0.29em 0; /* 5 ÷ 17 =0.2941 */
}

.ctn_history .his_year_group .year_cont ul li strong {
    display: block;
    color: var(--tit-color);
}

.ctn_history .his_year_group .year_cont ul li span {
    display: block;
    width: calc(100% - 6.12em); /* 104 ÷ 17 = 6.117..*/
}

.ctn_history .his_nav {
    z-index: 99; /* header보다 1 낮은 값 */
    position: fixed; /* 무조건 body기준으로 정렬 */
    left: 50%;
    transform: translateX(-50%);
    bottom: -11%;
    width: calc(100% - 40px);
    max-width: 1260px;
    background-color: #F4F4F4;
    padding: 7px 0; /* f4f4 영역 */
    border-radius: 50px;
    transition: 0.5s;
}

.ctn_history .his_nav.active {
    bottom: 5%;
}

.ctn_history .his_nav ul {
    display: flex;
    overflow-y: hidden; /* 위아래 스크롤바 삭제 */
    overflow-x: auto;
}

.ctn_history .his_nav ul li {
    width: 25%;
}

.ctn_history .his_nav ul li button {
    display: block;
    width: 80%;
    margin: 0 10%;
    text-align: center;
    font-size: 1.18rem; /* 20 ÷ 17 = 1.1764 */
    line-height: var(--tit-line-height);
    color: var(--tit-color);
    padding: 12px 2px;
    border-radius: 50px;

    /* 줄바꿈금지 */
    white-space: nowrap;
}

.ctn_history .his_nav ul li.active button {
    background-color: var(--point-color);

    color: #fff;
}


@media screen and (min-width:769px) { 

    /* reverse 스타일은 pc버전에만 적용되도록 media에 넣어둔다. */

    .ctn_history .his_year_group.reverse {
        flex-direction: row-reverse;
    }
    
    .ctn_history .his_year_group.reverse .year_cont {
        padding-right: 2.88em;
        padding-left: 0;
        border-width: 0 2px 0 0;
    }
    
    .ctn_history .his_year_group.reverse .year_cont::before {
        left: auto;
        right: -2px; /* left값을 그대로 부여 */
    }

    .ctn_history .his_year_group.reverse .year_cont {
        text-align: right;
    }
    
    .ctn_history .his_year_group.reverse .year_cont ul li {
        flex-direction: row-reverse;
    }
    
    .ctn_history .his_year_group.reverse .year_cont h4::before {
        left: auto; /* auto로 해제?*/
        right: -1.8em; /* 기존 left 값을 right 에게 부여 */
    }
    
    .ctn_history .his_year_group.reverse .year_cont > *:last-child::before {
        left: auto;
        right: -3em;
    }
    

}/* @media reverse - pc한정 */

@media screen and (max-width:768px) {

                    
                .ctn_history {
                    margin: 0 0 10.44em 0; /* 167 ÷ 16 = 10.4375 */  
                }

                .ctn_history .his_tit {
                    margin: 0 0 1.81em 0;  /* 29 ÷ 16 = 1.8125.. */
                }

                .ctn_history .his_tit strong {
                    font-size: 1.25rem; /* 20 ÷ 16 = 1.25*/
                }

                .ctn_history .his_tit h2 {
                    font-size: 1.56rem; /* 25 ÷ 16 = 1.5625 */
                    margin: 0.56em 0 0 0; /* 14 ÷ 25 = 0.56 */
                }

                .ctn_history .his_photo .photo {
                    height: 8.13em; /* 130 ÷ 16 = 8.125 */
                }

                .ctn_history .his_year_group {
                    margin: 2.5em 0 5em 0; /* 40 ÷ 16 = 2.5 / 80 ÷ 16 = 5*/
                    display: block
                }

                .ctn_history .his_year_group .yesr_tit {
                    max-width: 100%;
                    width: auto;
                    min-width: 0;
                }


                .ctn_history .his_year_group .year_cont {
                    max-width: 100%;   /* ##테스트 필요!## */
                    width: auto;
                    padding: 2em 0 0 1.5em; /* 32 ÷ 16 = 2 / 24 ÷ 16 = 1.5 */
                }

                .ctn_history .his_year_group .year_cont::before {
                    content: "";
                    position: absolute;
                    left: -2px; /* 선 두께만큼 옆으로 이동해야함 */
                    top: 0;
                    width: 2px;
                    height: 48px;
                    background-color: #fff; /* ???????????????????????????????????? */
                }

                .ctn_history .his_year_group .yesr_tit h3 {
                    font-size: var(--tit-font-size); 
                    color: var(--tit-color);
                    font-weight: var(--bold-weight);
                    line-height: var(--tit-line-height);
                    margin: 0 0 0.28em 0; /* 7 ÷ 25 = 0.28 */
                }

                .ctn_history .his_year_group .yesr_tit h3 br {
                    display: none;
                }


                .ctn_history .his_year_group .yesr_tit .photo {
                    display: none;
                }

                .ctn_history .his_year_group .year_cont h4 {
                    font-size: 1.25rem; /* 20 ÷ 16 = 1.25 */
                    margin: 0 0 1.13em 0; /* 18 ÷ 16 = 1.125 */
                }

                .ctn_history .his_year_group .year_cont h4::before {
                    width: 0.4em; /*  8 ÷ 20 */
                    height: 0.4em; /* 8 ÷ 20  */
                    z-index: 10;
                    left: -1.45em; /* 웹에서 조정 */
                    top: 0.4em;
                }

                .ctn_history .his_year_group .year_cont ul + h4 {
                    margin-top: 2em; /* 40 ÷ 20 */
                }

                .ctn_history .his_year_group .year_cont > *:last-child::before {
                    left: -1.7em; 
                    bottom: -2.53em; 
                    width: 5px;
                    height: calc(100% + 75px);
                    background-color: #fff;
                }


                .ctn_history .his_year_group .year_cont ul li {
                    display: flex;
                    justify-content: space-between;
                    margin: 0.29em 0; /* 5 ÷ 17 =0.2941 */
                }





                                

                .ctn_history .his_nav ul::-webkit-scrollbar {
                    display: none; /* 스크롤바 삭제... but 비표준코드 */
                }


                .ctn_history .his_nav ul li {
                    width: auto;
                }

                .ctn_history .his_nav ul li button {
                    width: 100%;
                    font-size: 1.13rem; /* 18 ÷ 16 = 1.125 */
                    padding: 14px 31px;
                }

                .ctn_history .his_nav ul li.active button {
                    background-color: var(--point-color);
                    color: #fff;
                }

}


    /* 홍보센터 - 금호뉴스 - 상담신청 */

.ctn_notice {
    margin: 0 0 200px 0;
}

.ctn_notice h2 {
    font-size: 2.06rem; /* 35 ÷ 17 = 2.0588... */
    margin: 0 0 1em 0; /* 170 ÷ 35 =4.8571...*/
    font-weight: var(--bold-weight);
    color: var(--tit-color);
    line-height: var(--tit-line-height);
}

.ctn_notice .agree_box {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 35px;
    height: 315px;
    overflow-x: hidden;
    overflow-y: auto;
    word-break: normal;
}

.ctn_notice .agree_chk {
    margin: 25px 0 120px 0;
    display: flex;
    justify-content: center;
    gap: 120px;

}

.ctn_notice .agree_chk .item input[type="radio"] {
    display: none;
}

.ctn_notice .agree_chk .item label {
    position: relative;
    font-size: 20px;
    padding-left: 43px;
    cursor: pointer;
}

.ctn_notice .agree_chk .item label::before {
    content: "";
    position: absolute;
    left: 0;
    top: -1px;
    width: 30px;
    height: 30px;
    border: 1px solid var(--tit-color);
    border-radius: 50%;
}

    /* 라디오가 체크 되었을때 label 디자인 */
.ctn_notice .agree_chk .item input[type="radio"]:checked + label::before {
    border-color: var(--point-color);
    background-color: var(--point-color);
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_266_209' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_266_209)'%3E%3Cpath d='M9.55141 18.1908L3.66016 12.2996L5.28241 10.6773L9.55141 14.9463L18.7204 5.77734L20.3427 7.39959L9.55141 18.1908Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
}

.ctn_notice .regist {
    border-top: 2px solid var(--tit-color);
}

.ctn_notice .regist .item {
    border-bottom: 1px solid #ccc;
    display: flex;
    gap: 30px;
}

.ctn_notice .regist .item label {
    max-width: 250px;
    width: 25%;
    font-size: 20px;
    color: var(--tit-color);
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    text-align: center;
    background-color: #EDEDF0;
    padding: 22px 0 0 0;
}

.ctn_notice .regist .item select,
.ctn_notice .regist .item input,
.ctn_notice .regist .item textarea {
    margin: 20px 0;
    border: 1px solid var(--tit-color);
    border-radius: 5px;
    min-height: 48px;
    background-color: #EDEDF0;
    padding: 0 10px;
}

.ctn_notice .regist .item .w100 {
    /* min-width: calc(100% - 108px - 30px - 250px); */
    width: 70%;
}

.ctn_notice .regist .item .w46 {
    width: 46%
}

.ctn_notice .regist .item textarea {
    resize: none;
}

.ctn_notice .regist .item input::placeholder {
    color: #797979;
}

.ctn_notice .btn_wrap {
    margin: 40px 0 0 0;
    display: flex;
    justify-content: space-between;
}

.ctn_notice .btn_wrap .cancel,
.ctn_notice .btn_wrap .ok {
    width: 163px;
    height: 59px;
    text-align: center;
    line-height: 59px;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    font-weight: var(--bold-weight);
}

.ctn_notice .btn_wrap .cancel {
    background-color: #484848;
}

.ctn_notice .btn_wrap .ok {
    background-color: var(--point-color);
}



@media screen and (max-width:768px) {


            .ctn_notice {
                margin: 0 0 100px 0;
            }
            
            .ctn_notice h2 {
                font-size: 1.56rem; /* 25 ÷ 16 = 1.5625... */
                margin: 0 0 0.8em 0; /* 20 ÷ 25 = 0.8...*/
            }
            
            .ctn_notice .agree_box {
                border-radius: 5px;
                padding: 20px;
                height: 310px;
            }
            
            .ctn_notice .agree_chk {
                margin: 33px 0 100px 0;
                gap: 120px;
            
            }

            .ctn_notice .agree_chk .item label {
                font-size: 18px;
            }
            
            .ctn_notice .regist {
                border-top: 2px solid var(--tit-color);
            }
            
            .ctn_notice .regist .item {
                border-bottom: 0;
                display: block;
            }
            
            .ctn_notice .regist .item label {
                max-width: 100%;
                width: auto;
                display: block;
                font-size: 20px;
                text-align: left;
                background-color: transparent;
                padding: 20px 0 0 0;
            }
            
            .ctn_notice .regist .item select,
            .ctn_notice .regist .item input,
            .ctn_notice .regist .item textarea {
                margin: 11px 0;
                padding: 0 10px;
            }
            
            .ctn_notice .regist .item .w100 {
                min-width: 100%;
                width: 100%;
            }
            
            .ctn_notice .regist .item .w46 {
                width: 100%;
            }
            
            .ctn_notice .btn_wrap {
                margin: 50px 0 0 0;
            }
            
            .ctn_notice .btn_wrap .cancel,
            .ctn_notice .btn_wrap .ok {
                width: 110px;
                height: 42px;
                line-height: 42px;
                font-size: 16px;
            }
    
}