@import url(default.css);
@import url(fonts.css);
@import url(common.css);
@import url(layout.css);



.visual {
    position: relative; /* ctrl_wrap 정렬의 기준 */
}

.visual .swiper-slide .photo {
    overflow: hidden;
    height: 100dvh; /* 모바일까지 고려한 브라우저 높이 100% */
    min-height: 42.94%; /* 최소높이 700px... 
                          em변경 시 -> 730 ÷ 17 = 42.94 */
}

.visual .swiper-slide .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1.5s;
}

.visual .swiper-slide.swiper-slide-active .photo img {
    transform: scale3d(1.1, 1.1, 1);
}

.visual .swiper-slide .txt_wrap {
    position: absolute; /* swiper-slide 기준으로 정렬 */
    left: 0;
    bottom: 44.6%; /* 446 (아래에서부터 높이) x 1000px (visual 높이) x 100 */
    width: 100%;
}

.visual .swiper-slide .txt_wrap .txt.mo {
    display: none;
}

.visual .swiper-slide .txt_wrap .txt {
    overflow: hidden;
}

.visual .swiper-slide .txt_wrap .txt p {
    color: #fff;
    font-size: 2.64rem; /* 45px(p 폰트) ÷ 17px (pc 기존폰트크기) = 2.64 */
    line-height: var(--tit-line-height);
    font-weight: var(--bold-weight);
    white-space: nowrap; /* 1줄로 표현 */


    transform: translateY(100%);
    transition: 0.7s;
    transition-delay: 1s;

/*    transform: translateY(50%);  100% - 0% 으로 애니메이션 */
}

.visual .swiper-slide .txt_wrap .txt.delay1 p {
    transition-delay: 0.5s;
}

.visual .swiper-slide .txt_wrap .txt.delay2 p {
    transition-delay: 0.6s;
}

.visual .swiper-slide .txt_wrap .txt.delay3 p {
    transition-delay: 0.7s;
}

.visual .swiper-slide.swiper-slide-active .txt_wrap .txt p {
    transform: translateY(0);

    /* animation-name: visual_txt;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-delay: 0.5s;
    animation-fill-mode: forwards; */
}

@keyframes visual_txt {
0% { transform: translateY(100%); }
100% { transform: translateY(0); }
}

.visual .ctrl_wrap {
    z-index: 10;
    position: absolute; /* visual 을 기준으로 정렬 */
    left: calc(50% - 630px);
    bottom: 34.4%; /****** ( 344 ÷ 1000 ) x 100  *******/
    display: flex;
}

.visual .ctrl_wrap button {
    border: 1px solid #fff;
    border-left-width: 0;
    width: 2.35em; /* 40(버튼박스크기) ÷ 17(기존폰트크기) = 2.35 */
    height: 2.35em;
    background-repeat: no-repeat;
    background-position: center center;
}

.visual .ctrl_wrap button:first-child {
    border-left-width: 1px;
}

.visual .ctrl_wrap button.button-prev {
    background-image: url("data:image/svg+xml,%3Csvg width='33' height='33' viewBox='0 0 33 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_21_191' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='33' height='33'%3E%3Crect x='33' y='33' width='33' height='33' transform='rotate(-180 33 33)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_21_191)'%3E%3Cpath d='M14.4133 16.5005L20.7383 22.8255L19.2894 24.2744L11.5155 16.5005L19.2894 8.7266L20.7383 10.1755L14.4133 16.5005Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.visual .ctrl_wrap button.button-next {
    background-image: url("data:image/svg+xml,%3Csvg width='33' height='33' viewBox='0 0 33 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_21_194' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='33' height='33'%3E%3Crect width='33' height='33' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_21_194)'%3E%3Cpath d='M18.5872 16.4995L12.2622 10.1745L13.7111 8.72559L21.485 16.4995L13.7111 24.2734L12.2622 22.8245L18.5872 16.4995Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.visual .ctrl_wrap button.button-stop {
    background-image: url("data:image/svg+xml,%3Csvg width='33' height='33' viewBox='0 0 33 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_21_197' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='33' height='33'%3E%3Crect width='33' height='33' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_21_197)'%3E%3Cpath d='M19.2498 24.3381V8.66309H23.8561V24.3381H19.2498ZM9.14355 24.3381V8.66309H13.7498V24.3381H9.14355Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.visual .ctrl_wrap button.button-play {
    background-image: url("data:image/svg+xml,%3Csvg width='33' height='33' viewBox='0 0 33 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_21_200' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='33' height='33'%3E%3Crect x='33' y='33' width='33' height='33' transform='rotate(-180 33 33)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_21_200)'%3E%3Cpath d='M12.7872 10.1061L22.8247 16.4998L12.7872 22.8936L12.7872 10.1061Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    display: none;
}

.visual .scroll_down {
    z-index: 10;
    position: absolute; /* visual을 기준으로 정렬 */
    left: 50%;
    transform: translateX(-50%);
    bottom: 6.5%; /* 3.3% 화살표기준 */
    color: #fff;
}

.visual .scroll_down::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 1.94em; /* 33px(높이) ÷ 17(기존폰트크기) = 1.9411...   -   왜 얘는 em으로할까? */
    width: 1.41em; /* 24(화살표크기) ÷ 17(기존폰트크기) = 1.41 */
    height: 1.41em;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_21_665' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_21_665)'%3E%3Cpath d='M12 18.6336L6.34625 12.9798L7.4 11.9261L12 16.5106L16.6 11.9261L17.6538 12.9798L12 18.6336ZM12 12.6528L6.34625 6.99906L7.4 5.94531L12 10.5298L16.6 5.94531L17.6538 6.99906L12 12.6528Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;

    animation-name: scroll_down;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear;   가속도 삭제  */ 
}

@keyframes scroll_down {
    0% { top: 1.94em; }
    50% { top: 2.5em; }
    100% { top: 1.94em; }
}


@media screen and (max-width:1300px) {
    .visual .ctrl_wrap {
        left: 20px /* common css : 30 줄 참조 */
    }
}

@media screen and (max-width:1024px) {
   
            /*
                .visual .swiper-slide .txt_wrap {
                    bottom: 41.6%; 
                    }

                .visual .swiper-slide .txt_wrap .txt.mo {
                    display: block;
                    }

                .visual .swiper-slide .txt_wrap .txt.pc {
                    display: none;
                }
                
                .visual .swiper-slide .txt_wrap .txt p {
                    font-size: 2.05rem; 
                }

            */

            .visual .swiper-slide .txt_wrap .txt p {

                font-size: 2.35rem; /* [pc] 45px(p 폰트) ÷ 17px (pc 기존폰트크기) = 2.64 
                                    [중간] 40px ÷ 17 = 2.35 */
                }

}

@media screen and (max-width:768px) {

                .visual .swiper-slide .photo {
                    min-height: 31.25%; /* 500px (제한높이정함) ÷ 16(모바일 기존 폰트크기) */
                }

                .visual .swiper-slide.swiper-slide-active .photo img {
                    transform: scale3d(1, 1, 1); /* 1 1 1로 맞추면 애니메이션 작동안함 */
                }
                
                .visual .swiper-slide .txt_wrap {
                    bottom: 36.62%; /* 446 (아래에서부터 높이) ÷ 1000px (visual 높이) x 100 < 이건pc
                                ->  241 (아래에서부터의 높이) ÷ 800px(visual 높이) x 100 = 36.625..*/
                    width: 100%;
                }
                
                .visual .swiper-slide .txt_wrap .txt.mo {
                    display: block;
                }

                .visual .swiper-slide .txt_wrap .txt.pc {
                    display: none;
                }

                .visual .swiper-slide .txt_wrap .txt {
                    margin: 5px 0;
                }
                
                .visual .swiper-slide .txt_wrap .txt p {

                    font-size: 2.18rem; /* [pc] 45px(p 폰트) ÷ 17px (pc 기존폰트크기) = 2.64 
                                            35px / 16px = 2.18 */

                
                
                    transform: translateY(100%);
                    transition: 0.7s;
                    transition-delay: 1s;
                
                /*    transform: translateY(50%);  100% - 0% 으로 애니메이션 */
                }
                
                .visual .swiper-slide .txt_wrap .txt.delay1 p {
                    transition-delay: 0.5s;
                }
                
                .visual .swiper-slide .txt_wrap .txt.delay2 p {
                    transition-delay: 0.6s;
                }
                
                .visual .swiper-slide .txt_wrap .txt.delay3 p {
                    transition-delay: 0.7s;
                }
                
                .visual .swiper-slide.swiper-slide-active .txt_wrap .txt p {
                    transform: translateY(0);
                
                    /* animation-name: visual_txt;
                    animation-duration: 0.5s;
                    animation-iteration-count: 1;
                    animation-delay: 0.5s;
                    animation-fill-mode: forwards; */
                }
                
                @keyframes visual_txt {
                0% { transform: translateY(100%); }
                100% { transform: translateY(0); }
                }
                
                .visual .ctrl_wrap {
                    bottom: 28%;
                }
                
                .visual .ctrl_wrap button {
                    border-radius: 50%;
                    border-left-width: 1px;
                }

                .visual .ctrl_wrap button.button-prev {
                    display: none;
                }
                .visual .ctrl_wrap button.button-next {
                    display: none;
                }
                
                .visual .scroll_down {
                    display: none;
                }

}



/* title의 공통스타일 */

section .tit {
    margin: 11.17em 0 0 0; /* em 변경시 -> 190 ÷ 17 = 11.17 */
}

section .tit strong {
    color: var(--point-color);
    font-weight: var(--bold-weight);
    display: inline-block;
    padding: 0 1.18em 0 0; /* em변경 시 -> 20 ÷ 17 = 1.176... */
    position: relative; /*  after 정렬의 기준 */
    margin-bottom: 0.88em; /* 15 ÷ 17 = 0.882 */
}

section .tit strong::after {
    content: "";
    position: absolute;
    right: 0.18em; /* em변경 시 -> 3 ÷ 17 = 0.176 */
    top: -0.59em; /* em변경 시 -> 10 ÷ 17 = 0.588 */
    width: 1em;  /* 17 ÷ 17 = 1 */
    height: 0.94em;    /* 16 ÷ 17 = 0.941 */
    background-repeat: no-repeat;
    background-position: center center;
    background-image: var(--tit-ico);
}

section .tit h2 {
    color: var(--tit-color);
    font-weight: var(--bold-weight);
    font-size: var(--tit-font-size);
    line-height: var(--tit-line-height);
    margin-bottom: 1.33em; /* em변경 시 -> 60 ÷ 45 = 1.333 */
}


@media screen and (max-width:768px) {

        .section .tit {
            margin: 5em 0 0 0; /* em 변경시 -> 80 ÷ 16 = 5 */
        }
        
        section .tit strong {
            margin-bottom: 0.63em; /* 10 ÷ 16 = 0.625 --- 반올림 ok */
        }

        section .tit h2 {
            margin-bottom: 1.2em; /* em변경 시 -> 30 ÷ 25 = 1.2 */
        }

} /* @media */


.biz .list ul {
    display: flex;
    gap: 1px;
}

.biz .list ul li {
    width: 25%;
    position: relative; /* txt 정렬의 기준 */
    transition: 0.5s;
}

.biz .list ul li .more {
    display: none; /* 모바일에서만 나옴 */
}

.biz .list ul li .photo {
    overflow: hidden;
    height: 41.17em; /* 700 / 17 = 41.176*/
    position: relative;
}

.biz .list ul li .photo::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(0deg, rgba(0,0,0,1), rgba(0,0,0,0));

    transition: 0.3s;
}

.biz .list ul li .photo::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    opacity: 0;

    transition: 0.3s;
}

.biz .list ul li .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.biz .list ul li .txt {
    position: absolute;

        /* 여백이 고정값일 경우
        left: 40px;
        bottom: 82px;
*/

        /* 여백이 %값일 경우 */

        left: 8.33%;  /* 40(여백) ÷ 480 x 100 = 8.333 ... */
        bottom: 72px;

    color: #fff;
    white-space: nowrap;
    transition: 0.5s;
}

.biz .list ul li .txt h3 {
    font-size: 2.06rem; /* rem 변경 시 -> 35 ÷ 17 = 2.058*/
    line-height: var(--tit-line-height);
    font-weight: var(--bold-weight);
    margin: 0.29em 0 0.63em 0; /* em변환시 -> 10 ÷ 35 */
}

.biz .list ul li .txt a {
    font-size: 15px;
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 100px;
    padding: 0.33em 2.53em 0.47em 1.06em; /* em변경시 -> ÷ 15
                5     38   7     16
    
    ÷ 35 */
    position: relative; /* after 정렬의 기준 */
    opacity: 0;
    
    transition: 0.5s;
}

.biz .list ul li .txt a::after { /************* 쉬는시간에 15로 지정하고 em 수정 (완)**********************/
    content: "";
    position: absolute;
    right: 0.6em; /* 9 / 15 */
    top: 0.2em; /* 3 / 15 */
    width: 1.6em; /* 24 */
    height: 1.6em;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_107_130' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_107_130)'%3E%3Cpath d='M11.25 12.75H5.5V11.25H11.25V5.5H12.75V11.25H18.5V12.75H12.75V18.5H11.25V12.75Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}


@media screen and (min-width:1025px){    /* pc만 - 마우스를 오버했을 때 */

.biz .list ul li:hover {
    width: 70%;
}

.biz .list ul li:hover  .txt {
    bottom: 6.88em; /* em변경시 -> 117 / 17 = 6.882... */
}

.biz .list ul li:hover  .txt a {
    opacity: 1;
}

.biz .list ul:hover li:not(:hover) .photo::before {
    opacity: 0;

}

.biz .list ul:hover li:not(:hover) .photo::after {
    opacity: 1;
}

} /* @media */




@media screen and (min-width:768px) and (max-width:1025px) {  /* 1300 ~ 1024 사이의 값*/

    .biz .list ul li .txt strong {
        font-size: 0.94rem; /* rem 변경 시 -> 15 ÷ 16 = 0.9375*/
    }

    .biz .list ul li .txt h3 {

        font-size: 1.87rem; /* rem 변경 시 -> 30 ÷ 16 = 1.25*/
        line-height: var(--tit-line-height);
        font-weight: var(--bold-weight);
        margin: 0.13em 0 0 0; /* em 변환시 -> 4 ÷ 30 = 0.133... */
    }
} /* 흠........ 1024 ~ 768 까지의 크기가 이랬으면 좋겠는데 안되네... 그리고 모바일쪽 h3 font 크기 안맞으니까 집가서 수정하기 */


@media screen and (max-width:1024px){ /* 모바일 */ 

                .biz .list ul {
                    display: block;
                    margin: 0 1.25em; /* em변경시 -> 20 ÷ 16 = 1.25*/
                }
                
                .biz .list ul li {
                    width: auto;
                }

                .biz .list ul li + li { /* 2번째 li부터~ 라는 뜻 */
                    margin: 0.5em 0 0 0; /* em변경 -> 8 / 16 */
                }
                
                .biz .list ul li .more {
                    z-index: 1;
                    display: block;
                    position: absolute; /* li를 기준으로 정렬 */
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                }

                .biz .list ul li .photo {
                    height: 10.63em; /*  170 * 16 = 10.625 */
                }
                
                .biz .list ul li .photo::before {
                    height: 100%;
                    background: rgba(0,0,0,0.3);
                }
                
                .biz .list ul li .photo::after {
                    display: none;
                }
                
                .biz .list ul li .txt {
                    position: absolute;
                
                        /* 여백이 고정값일 경우
                        left: 40px;
                        bottom: 82px;
                */
                
                    /* 여백이 %값일 경우 */
                
                    left: 5.62%;  /* em변경 -> 18(여백) ÷ 320 x 100 = 5.62 ... */
                    bottom: 1.25em; /* em변경 -> 20 ÷ 16 */
                }
                
                .biz .list ul li .txt strong {
                    font-size: 0.75rem; /* rem 변경 시 -> 12 ÷ 16 = 0.75*/
                }

                .biz .list ul li .txt h3 {

                    font-size: 1.25rem; /* rem 변경 시 -> 2 ÷ 16 = 1.25*/
                    line-height: var(--tit-line-height);
                    font-weight: var(--bold-weight);
                    margin: 0.2em 0 0 0; /* em 변환시 -> 4 ÷ 20 */
                }
                
                .biz .list ul li .txt a {
                    display: none;
                }          

}/* @media */


.news .list {
    position: relative;
    left: calc(50% - 630px);
    width: calc(50% + 630px - 24px);
}


@media screen and (max-width:1300px){ /* wrapper의 제한이 사라지는 사이즈 */

        .news .list {
            left: 20px;
            width: calc(100% - 40px); /* 양옆의 20px을 뺀다 */
        }
        

} /* @media */


.news .list .swiper {
    overflow: visible; /* #wrap에 있는 hidden 해제 */
}

.news .list .swiper-slide {
    width: 23.76em; /* em 변환 -> 404 ÷ 17 = 23.7647 */
}

.news .list .swiper-slide a {
    display: block;
}

.news .list .swiper-slide a .date {
    display: block;
    border-top: 1px solid var(--base-color);
    font-size: 2.35em; /* em 변환 -> 40 ÷ 17 = 2.352 */
    line-height: var(--tit-line-height);
    color: var(--tit-color);
    padding: 0.63em 0; /* em 변환 -> 25 ÷ 40(date 폰트사이즈크기) = 0.625 */
    position: relative; /* before 정렬의 기준*/
}

.news .list .swiper-slide a .date::before {
    content: "";
    position: absolute;
    left: 0;
    top: -2px;
    width: 0;
    height: 3px;
    border-radius: 10px;
    background-color: var(--point-color);
    transition: 1s;
}

.news .list .swiper-slide a:hover .date::before {
    width: 100%;
}



.news .list .swiper-slide a h3 {
    font-size: 1.47em; /* em 변환 -> 25 ÷ 17 = 1.470 */
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    color: var(--tit-color);

    /* 2줄제한 :: 주의!!! 두줄제한을 시도할 땐 padding을 줘선 안된다 */
    height: 2.4em; /* 행간 x 줄수 = 단위는 em으로. */
    overflow: hidden;
}

.news .list .swiper-slide a p {
    /* 3줄 제한 */
    height: 4.5em; /* 행간 x 줄수... */
    overflow: hidden;

    /* 길어서 끝에 ...  */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* 줄수 */

    word-break: normal;

    margin: 1.76em 0; /* 30 ÷ 17 = 1.764 */
}

.news .list .swiper-slide a .photo {
    overflow: hidden;
    height: 10.41em; /* 177 ÷ 17 = 10.41...  */
}

.news .list .swiper-slide a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}

.news .list .swiper-slide a:hover .photo img {
    transform: scale3d(1.2, 1.2, 1);
} 

.news .ctrl_wrap {
    margin: 4.24em 0 0 0; /* em변환 -> 72 ÷ 17 = 4.235 */
}

.news .ctrl_wrap .wrapper {
    display: flex;
    justify-content: space-between;
}

.news .ctrl_wrap .group1 {
    position: relative; /* swiper-scrollbar 정렬의 기준 */
    width: calc(100% - 25.18em); /* em변환 -> 428 ÷ 17 = 25.176... 반올림ok */

}

.news .ctrl_wrap .group1 .swiper-scrollbar { /* 복사해온거임~ */
    left: 0;
    bottom: 50%;
    transform: translateY(50%); /* 위아래가운데 */
    width: 100%;
    background: #E6E6E6;
}

.news .ctrl_wrap .group1 .swiper-scrollbar .swiper-scrollbar-drag {
    background: var(--tit-color);
}

.news .ctrl_wrap .group1 .swiper-scrollbar .swiper-scrollbar-drag:hover {
    background: var(--point-color);
}

.news .ctrl_wrap .group2 {
    display: flex;
    align-items: center;
    gap: 0.76em; /* 13 ÷ 17 */
}

.news .ctrl_wrap .group2 .count {
    color: #ccc;
    bottom: auto;
    left: auto;
    width: auto;
    margin: 0 1.18em 0 0; /* em변환 -> 20 ÷ 17 */
}

.news .ctrl_wrap .group2 .count .swiper-pagination-current {
    color: #555;
    font-weight: var(--bold-weight);
}

.news .ctrl_wrap .group2 .count .swiper-pagination-total {
    color: #555;
}

.news .ctrl_wrap .group2 .btn_prev,
.news .ctrl_wrap .group2 .btn_next {
    display: block;
    width: 1.76em; /* em변환 -> 30 ÷ 17 = 1.764 */
    height: 1.76em;
    border: 1px solid #555;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_132_25' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='12' height='12'%3E%3Crect x='12' width='12' height='12' transform='rotate(90 12 0)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_132_25)'%3E%3Cpath d='M2.323 5.99976C2.323 5.87926 2.34225 5.76709 2.38075 5.66326C2.41925 5.55942 2.48525 5.46067 2.57875 5.36701L7.073 0.872758C7.2115 0.734425 7.38559 0.663591 7.59525 0.660258C7.80475 0.657091 7.982 0.727925 8.127 0.872758C8.27184 1.01776 8.34425 1.19342 8.34425 1.39976C8.34425 1.60609 8.27184 1.78176 8.127 1.92676L4.05375 5.99976L8.127 10.0728C8.26534 10.2113 8.33617 10.3853 8.3395 10.595C8.34267 10.8045 8.27184 10.9818 8.127 11.1268C7.982 11.2716 7.80634 11.344 7.6 11.344C7.39367 11.344 7.218 11.2716 7.073 11.1268L2.57875 6.63251C2.48525 6.53884 2.41925 6.44009 2.38075 6.33626C2.34225 6.23242 2.323 6.12026 2.323 5.99976Z' fill='%23555555'/%3E%3C/g%3E%3C/svg%3E%0A");
}

.news .ctrl_wrap .group2 .btn_next {
    transform: rotate(180deg);
}

.news .ctrl_wrap .group2 .more { /* 폰트 15 변경 후 em 수정해보기 ***************************** */
    display: block;
    height: 1.76em; /* btn_prev ~ next와 동일한 높이 */
    line-height: 1.76em;
    padding: 0 2.24em 0 0.94em; /* em변환 -> ÷ 17 */
    /*       5px 38px 7px 16px */
    font-weight: var(--bold-weight);
    border: 1px solid #555;
    border-radius: 50px;
    position: relative;
    margin: 0 0 0 0.64em; /* em변환 -> 11 ÷ 17 */
}

.news .ctrl_wrap .group2 .more::after {
    content: "";
    position: absolute;
    right: 0.53em; /* em변환 -> 9 ÷ 17 = 0.529 */
    top: 0.18em; /* em변환 -> 3 ÷ 17 = 0.176 */
    width: 1.41em; /* em변환 -> 24 ÷ 17 */
    height: 1.41em; /* em변환 -> 24 ÷ 17 */
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_132_18' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_132_18)'%3E%3Cpath d='M11.25 12.75H5.5V11.25H11.25V5.5H12.75V11.25H18.5V12.75H12.75V18.5H11.25V12.75Z' fill='%23555555'/%3E%3C/g%3E%3C/svg%3E%0A");
}






@media screen and (max-width:1024px){

    .news .list .swiper-slide {
        width: 17.64em; /* em 변환 -> 300 ÷ 17 = 17.6470... */
    }

    .news .list .swiper-slide a .date {
        font-size: 2.05em; /* 35 ÷ 17 = 2.05 */
        
    } 

}


@media screen and (max-width:768px){ /* 모바일 */


            .news .list .swiper-slide {
                width: 12.88em; /* em 변환 -> 208 ÷ 16 = 12.875 */
            }
            
            .news .list .swiper-slide a .date {
                font-size: 1.56em; /* em 변환 -> 25 ÷ 16 = 1.5625 */
                padding: 1em 0; /* em 변환 -> 25 ÷ 25(date 폰트사이즈크기) = 1 */
            }
            
            .news .list .swiper-slide a h3 {
                font-size: 1.25em; /* em 변환 -> 20 ÷ 16 = 1.25 */
            }
            
            .news .list .swiper-slide a p {
                margin: 1.25em 0; /* 20 ÷ 16 = 1.25 */
            }
            
            .news .list .swiper-slide a .photo {
                height: 5.69em; /* 91 ÷ 16 = 5.6875  */
            }
            
            .news .ctrl_wrap {
                margin: 2.5em 0 0 0; /* em변환 -> 40 ÷ 16 = 2.5 */
            }

            .news .ctrl_wrap .group1 {
                position: relative; /* swiper-scrollbar 정렬의 기준 */
                width: calc(100% - 8.25em); /* em변환 -> 132 ÷ 16 = 8.25 */
            
            }
            
            .news .ctrl_wrap .group1 .swiper-scrollbar { /* 복사해온거임~ */
                left: 0;
                bottom: 50%;
                transform: translateY(50%); /* 위아래가운데 */
                width: 100%;
                background: #E6E6E6;
            }
            
            .news .ctrl_wrap .group1 .swiper-scrollbar .swiper-scrollbar-drag {
                background: var(--tit-color);
            }
            
            .news .ctrl_wrap .group1 .swiper-scrollbar .swiper-scrollbar-drag:hover {
                background: var(--point-color);
            }
            
            .news .ctrl_wrap .group2 {
                display: flex;
                align-items: center;
                gap: 0.76em; /* 13 ÷ 17 */
            }
            
            .news .ctrl_wrap .group2 .count {
                display: none;
            }
            
            .news .ctrl_wrap .group2 .count .swiper-pagination-current {
                display: none;
            }
            
            .news .ctrl_wrap .group2 .count .swiper-pagination-total {
                display: none;
            }
            
            .news .ctrl_wrap .group2 .btn_prev,
            .news .ctrl_wrap .group2 .btn_next {
                display: none;
            }
            
            .news .ctrl_wrap .group2 .btn_next {
                transform: rotate(180deg);
            }
            
            .news .ctrl_wrap .group2 .more { 
                display: block;
                height: 1.76em; /* btn_prev ~ next와 동일한 높이 */
                line-height: 1.76em;
                padding: 0 2.24em 0 0.94em; /* em변환 -> ÷ 17 */
                /*       5px 38px 7px 16px */
                margin: 0 0 0 0.64em; /* em변환 -> 11 ÷ 17 */
            }
            
            .news .ctrl_wrap .group2 .more::after {
                content: "";
                position: absolute;
                right: 0.53em; /* em변환 -> 9 ÷ 17 = 0.529 */
                top: 0.18em; /* em변환 -> 3 ÷ 17 = 0.176 */
                width: 1.41em; /* em변환 -> 24 ÷ 17 */
                height: 1.41em; /* em변환 -> 24 ÷ 17 */
                background-repeat: no-repeat;
                background-position: center center;
                background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_132_18' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_132_18)'%3E%3Cpath d='M11.25 12.75H5.5V11.25H11.25V5.5H12.75V11.25H18.5V12.75H12.75V18.5H11.25V12.75Z' fill='%23555555'/%3E%3C/g%3E%3C/svg%3E%0A");
            }  

}

.survice .list {
    background: url(../images/main/survice_01.jpg) no-repeat center center / cover;
    color: #fff;
    text-align: center;
    height: 29.41em; /* em 변환 -> 500 ÷ 17 = 29.411..*/
    display: flex; /* ul을 list의 높이에 위아래 가운데 정렬하려고 flex 줌 */
    align-items: center;
}

.survice .list[data-bg="bg1"] {
    background-image: url(../images/main/survice_02.jpg);
}

.survice .list[data-bg="bg2"] {
    background-image: url(../images/main/survice_03.jpg);
}

.survice .list[data-bg="bg3"] {
    background-image: url(../images/main/survice_04.jpg);
}


.survice .list ul {
    display: flex;
    align-items: center; /* 앙옆의 줄이 다를 경우 윗정렬이 되므로... 여기에도 center 준다! */
    width: 100%; /* list - display:flex의 영향으로 쪼그라들어서 넓이100% 줌 */

}

.survice .list ul li {
    width: 33.34%;
    position: relative; /* before 정렬의 기준*/
}

.survice .list ul li + li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 9.53em; /* em 변환 -> 162px ÷ 17 = 9.529 */
    background-color: rgba(255,255,255,0.5)
}


.survice .list ul li a {
    display: block;
    margin: 0 20.2%; /* 129 ÷ 640 x 100  =  20.15625  백분율 계산 */
    padding: 3.7em 0; /* em 변환 -> 63 ÷ 17 */
    border-radius: 20px;
    backdrop-filter: blur(5px);
}

.survice .list ul li a h3 {
    font-size: 2.06rem; /* rem 변경 시 -> 35 ÷ 17 = 2.058*/
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    margin: 0.68em 0 0.46em 0; /* em 변경 시 ->  ÷ 35 */
    /*       24       16 */
}

.survice .list ul li a .more {
    font-size: 0.88rem; /* 15px ÷ 17 = 0.88 */
    display: none;
    border: 1px solid #fff;
    border-radius: 100px;
    padding: 0.23em 2.53em 0.23em 1.06em; /* em변환 -> ÷ 15 */
    /*       5px 38px 7px 16px ... 인데 아래가 안맞아서 임의로 바꿈 */
    position: relative;
    margin: 1.53em 0 0 0; /* 23 ÷ 15  */
}

.survice .list ul li a .more::after {
    content: "";
    position: absolute;
    right: 0.73em; /* em변환 -> 11 ÷ 15 = 0.73 */
    top: 0.2em; /* em변환 -> 6 ÷ 15 = 0.4 ...인데 안맞아서 임의로 바꿈*/
    width: 1.6em; /* em변환 -> 24 ÷ 15 */
    height: 1.6em; /* em변환 -> 24 ÷ 15 */
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_142_37' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_142_37)'%3E%3Cpath d='M11.25 12.75H5.5V11.25H11.25V5.5H12.75V11.25H18.5V12.75H12.75V18.5H11.25V12.75Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}

.survice .list ul li a:hover .more {
    display: inline-block;
}