* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: '맑은 고딕', 'Malgun Gothic', '돋움', 'Dotum';
    font-size: 15px;
    color: #333;
    background-color: #fff;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
    position: relative; /* layer_popup */
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

header {
    z-index: 100;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}


header .gnb ul.depth1 {
    display: flex;
}

header .gnb ul.depth1 > li {
    width: 150px;
    text-align: center;
    position: relative;
}

header .gnb ul.depth1 > li > a {
    display: block;
    height: 100px;
    line-height: 100px;
    font-size: 20px;
    font-weight: 700;
    color: #1d1d1d;
}

header .gnb ul.depth1 > li.active > a {
    color: #0066ad;
}

header .gnb ul.depth1 > li > ul.depth2 {
    display: none;

    position: absolute;
    left: 0;
    top: 100px;
    width: 100%;
    color: #fff;
}



header.menu_over .gnb ul.depth1 > li > ul.depth2 {
    display: block;
}

header .gnb ul.depth1 > li > ul.depth2 > li > a {
    display: block;
    padding: 15px 0;
}

header .gnb ul.depth1 > li > ul.depth2 > li > a:hover {
    background-color: #30a3f3;
}

header.menu_over::before {
    content: "";
    position: absolute;
    background-color: #0066ad;
    left: 0;
    top: 100px;
    width: 100%;
    height: 150px;
}



.slide {
    height: 300px;
    position: relative;
}

.slide ul li {
    position: absolute;
    left: 0;
    top: 0; /* 0 > -280 > =560 */

    animation-duration: 10s; /* 3초씩 전환되어야해서 */
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.slide ul li.slide01 {
    animation-name: slide01;

}

.slide ul li.slide02 {
    animation-name: slide02;
    
}

.slide ul li.slide03 {
    animation-name: slide03;
}


@keyframes slide01 {
    0% { z-index: 10; opacity: 1;}
    30% { z-index: 10; opacity: 1;}
    35% { z-index: 1; opacity: 0.5; }
    65% { z-index: 1; opacity: 0.5; }
    70% { z-index: 1; opacity: 0.5; }
    100% { z-index: 1; opacity: 0.5; } /* 280x3 */
}

@keyframes slide02 {
    0% { z-index: 1; opacity: 0.5;}
    30% { z-index: 1; opacity: 0.5;}
    35% { z-index: 10; opacity: 1; }
    65% { z-index: 10; opacity: 1; }
    70% { z-index: 1; opacity: 0.5; }

    100% { z-index: 1; opacity: 0.5; } /* 280x3 */
}

@keyframes slide03 {
    0% { z-index: 1; opacity: 0.5;}
    30% { z-index: 1; opacity: 0.5;}
    35% { z-index: 1; opacity: 0.5; }
    65% { z-index: 1; opacity: 0.5; }
    70% { z-index: 10; opacity: 1; }
    100% { z-index: 10; opacity: 1; } /* 280x3 */
}


.slide ul li {
    height: 280px;
}

.contents {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    height: 200px;
}

.contents .news {
    width: 400px;
}

.contents .news > ul {
    display: flex;
    gap: 10px;
    position: relative; /* detail 정렬의 기준 */
}

.contents .news > ul > li > button {
    font-size: 20px;
    color: #333;
    background-color: #f4f4f4;
    padding: 5px 15px;
}

.contents .news > ul > li.active > button {
    font-weight: 700;
    color: #fff;
    background-color: #0066ad;
}

.contents .news > ul > li > .detail {
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    display: none;
}


.contents .news > ul > li.active > .detail {
    display: block;
}

.contents .news > ul > li.notice > .detail > ul > li > a {
    display: flex;
    justify-content: space-between;
    padding: 6px 0;
    border-bottom: 1px solid #ccc;
}

.contents .news > ul > li.notice > .detail > ul > li > a:hover strong {
    color: #0066ad;
    font-weight: 700;
}

.contents .news > ul > li.notice > .detail > ul > li > a strong {
    font-weight: 400;
}

.contents .news > ul > li.notice > .detail > ul > li > a span {
    color: #333;
}

.contents .news > ul > li.gallery > .detail > ul {
    display: flex;
    gap: 10px;
}
.contents .news > ul > li.gallery > .detail > ul > li > a:hover {
    opacity: 0.5;
}

.contents .banner {
    width: 380px;
}

.contents .link {
    width: 380px;
}

.layer_popup {
    z-index: 150;
    position: absolute;
    left: 25%;
    top: 150px;
    width: 50%;
    background-color: #fff;
    border: 2px solid #0066ad;
    padding: 50px;

    display: none;
}

.layer_popup h2 {
    color: #0066ad;
    font-size: 25px;
}

.layer_popup p {
    margin: 50px 0;
}

.layer_popup .close {
    text-align: right;
}

.layer_popup .close button {
    background-color: #30a3f3;
    color: #fff;
    padding: 10px 20px;
    font-size: 17px;
}